{% extends "main/base2.html" %} {% block content %}

<div class="flex h-screen w-screen items-center justify-center mx-auto z-10">
  <div
    class="bg-white shadow-lg p-10 text-center rounded-lg border-2 border-gray-100 z-10 w-11/12 md:w-[36rem]"
  >
    <div>
      <h1
        class="text-accent1 font-poppins text-4xl font-extrabold mt-3 md:text-4xl md:mt-8"
      >
        PUP-SPS Student Module
      </h1>
      <p class="text-accent2 text-base md:text-lg font-poppins mt-3 mb-3">
        Sign in to start your session
      </p>
    </div>

    <form class="flex flex-col gap-3" method="POST" id="login-form">
      <div class="">
        <input
          id="email"
          name="email"
          placeholder="Email address"
          onchange="validateEmail()"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-sky-500 focus:border-sky-500 bg-white block w-full px-5 py-3"
        />
        <p id="email-error" class="text-primary text-sm text-left mt-2"></p>
      </div>

      <div class="">
        <input
          id="password"
          name="password"
          type="password"
          placeholder="Password"
          onchange="validatePassword()"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-sky-500 focus:border-sky-500 bg-white block w-full px-5 py-3"
        />
        <p id="password-error" class="text-primary text-sm text-left mt-2"></p>
      </div>

      <button
        type="submit"
        class="text-white bg-primary hover:opacity-80 font-medium rounded-lg text-base w-full sm:w-auto px-6 py-3 text-center"
      >
        Log In
      </button>
      <hr class="mt-4" />
      <a
        href="{{ url_for('studentResetRequest') }}"
        id="forgot"
        class="text-primary font-bold hidden"
        target="blank"
        >I forgot my password</a
      >
      <div class="w-full">
        <p class="text-accent2 text-base">
          A student's guide on how to use the Student Information System
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
          <a href="w-full"
            ><button
              class="w-full border py-2 rounded-lg flex items-center justify-center gap-2 text-accent2"
            >
              <img
                src="{{ url_for('static', filename='images/login/youtube.webp') }}"
                class="size-6"
                alt="Youtube"
              />
              Youtube
            </button></a
          >
          <a href="w-full"
            ><button
              class="w-full border py-2 rounded-lg flex items-center justify-center gap-2 text-accent2"
            >
              <img
                src="{{ url_for('static', filename='images/login/facebook.webp') }}"
                class="size-6"
                alt="Facebook"
              />
              Facebook
            </button></a
          >
        </div>
      </div>
    </form>

    <div class="text-base text-accent2 mt-3">
      By using this service, you understand and agree to the PUP Online Services
      <a
        class="text-blue-500 underline"
        href="https://www.pup.edu.ph/terms/"
        target="_blank"
        >Terms of Use</a
      >
      and
      <a
        class="text-blue-500 underline"
        href="https://www.pup.edu.ph/privacy/"
        target="_blank"
        >Privacy Statement</a
      >
    </div>
  </div>
</div>

{% endblock content %}

<!-- SCRIPTS -->
{% block script %}
<script>
  document
    .getElementById('login-form')
    .addEventListener('submit', function (event) {
      event.preventDefault();

      // // Check if email error and password error didnt have text content

      const formData = new FormData(event.target);
      const apiUrl = '/api/v1/student/login';

      const emailError = document.getElementById('email-error');
      const emailInput = document.getElementById('email');
      const passwordError = document.getElementById('password-error');
      const passwordInput = document.getElementById('password');
      const email = formData.get('email');
      const password = formData.get('password');

      if (!email) {
        emailInput.classList.add('border-primary');
        emailError.textContent = 'Email is required';
      }

      if (!password) {
        emailInput.classList.add('border-primary');
        passwordError.textContent = 'Password is required';
      }

      if (emailError.textContent !== '' || passwordError.textContent !== '') {
        return;
      }

      fetch(apiUrl, {
        method: 'POST',
        body: formData,
        credentials: 'include',
      })
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          // CCheck if data.sucess throw message
          if (data.success) {
            // Redirect to dashboard
            window.location.href = '/student/home';

            // Replace the current history state with the home page
            window.history.replaceState(
              { page: 'studentHome' },
              'Student Home',
              '/student/home'
            );
          } else if (data.error) {
            // Thrown error
            notyf.error(data.message);
            document.getElementById('forgot').classList.remove('hidden');
          }
        })
        .catch((error) => {
          notyf.error(error.message);
        });
    });
</script>

{% endblock script %}
