{% extends "systemadmin/layout.html" %}

<!----------------- TITLE ----------------->
{% block title %} <title>Dashboard</title> {% endblock title %} {% block styles
%}
<style>
  /* Set the chart container to 100% width */
  #containerChart {
    width: 100%;
  }
</style>
{% endblock styles %}

<!----------------- CONTENT ----------------->
{% block content %}
<div class="grid grid-cols-6 grid-rows-11 gap-4 h-full overflow-auto">
  <div class="p-4 col-span-full">
    <div class="w-full bg-white p-4">
      <h1 class="text-2xl font-bold p-4 text-c1">Home</h1>
    </div>
  </div>
</div>

{% endblock content %}

<!----------------- SCRIPTS ----------------->
{% block script %}

<!-- FETCH DISTINC OPTIONS -->

{% endblock script %}
