{% extends "systemadmin/layout.html" %}

<!----------------- TITLE ----------------->
{% block title %} <title>Dashboard</title>{% endblock title %} {% block styles
%}
<style>
  /* Set the chart container to 100% width */
  #containerChart {
    width: 100%;
  }
</style>
{% endblock styles %}

<!----------------- CONTENT ----------------->
{% block content %}
<div class="grid grid-cols-6 grid-rows-11 gap-4 h-full overflow-auto">
  <div class="p-4 col-span-full">
    <div class="rounded-lg">
      <div class="w-full bg-white p-4">
        <h1 class="text-2xl font-bold p-4 text-c1">
          Clients (Authorization Purposes)
        </h1>

        <form
          id="client-form"
          class="grid grid-cols-1 sm:grid-cols-3 gap-4 px-4 pb-4"
        >
          <div class="flex flex-col">
            <label for="client-name" class="block mb-2 text-c1 font-extrabold"
              >Client Name</label
            >
            <input
              type="text"
              name="client_name"
              id="client-name"
              class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
              placeholder="System Name"
            />
          </div>
          <div class="flex flex-col">
            <label for="client-uri" class="block mb-2 text-c1 font-extrabold"
              >Client URI</label
            >
            <input
              type="url"
              name="client_uri"
              id="client-uri"
              class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
              placeholder="https://website.com/"
            />
          </div>
          <div class="flex flex-col">
            <label for="scope" class="block mb-2 text-c1 font-extrabold"
              >Allowed Scope</label
            >
            <input
              type="text"
              name="scope"
              id="scope"
              class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
              placeholder="student, faculty, etc... (Resources Owner)"
            />
          </div>
          <div class="flex flex-col">
            <label for="redirect" class="block mb-2 text-c1 font-extrabold"
              >Redirect URIs</label
            >
            <input
              type="text"
              name="redirect_uri"
              id="redirect"
              class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
              placeholder="https://website.com/ (Website Portal)"
            />
          </div>
          <div class="flex flex-col">
            <label for="grant-type" class="block mb-2 text-c1 font-extrabold"
              >Allowed Grant Types (password, authorization_code)</label
            >
            <input
              type="text"
              name="grant_type"
              id="grant-type"
              class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
              placeholder="password"
            />
          </div>
          <div class="flex flex-col">
            <label for="response-type" class="block mb-2 text-c1 font-extrabold"
              >Allowed Response Types (token, code)</label
            >
            <input
              type="text"
              name="response_type"
              id="response-type"
              class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
              placeholder="password"
            />
          </div>

          <div class="flex flex-col">
            <label for="method" class="block mb-2 text-c1 font-extrabold"
              >Token Endpoint Auth Method</label
            >
            <select
              id="method"
              name="token_endpoint_auth_method"
              class="bg-gray-50 border border-gray-300 font-normal text-c1 text-sm focus:ring-primary focus:border-secondary block w-full px-2 py-1"
            >
              <option value="client_secret_basic">client_secret_basic</option>
              <option value="client_secret_post">client_secret_post</option>
              <option value="none">none</option>
            </select>
          </div>
          <div class="flex flex-col">
            <button
              type="submit"
              class="text-white bg-[#9D1D1D] border border-gray-300 hover:bg-c5 transition duration-300 font-bold text-sm sm:w-auto px-5 px-5 py-[4px] mt-8 text-center"
            >
              Submit
            </button>
          </div>
        </form>

        <div class="p-4">
          <h1 class="text-2xl font-bold p-4 text-c1">Client List</h1>
          <div id="client-list"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- The Modal -->
<div
  id="client-modal"
  class="modal hidden fixed inset-0 flex items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"></div>

  <!-- Modal Content -->
  <div class="modal-container bg-white p-8 rounded shadow-lg z-10">
    <!-- Modal Header -->
    <div class="modal-header">
      <div class="flex justify-between">
        <h2 class="text-c1 text-2xl font-semibold">Performance Details</h2>
        <button class="modal-close" onclick="closeModal('client-modal')">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
              fill="#000"
            />
          </svg>
        </button>
      </div>
      <div class="grid grid-cols-2 mt-4">
        <div class="flex">
          <h4 class="text-c1 font-bold">Client Name:&nbsp;</h4>
          <p id="client-name">Client Name Value</p>
        </div>
        <div class="flex">
          <h4 class="text-c1 font-bold">Client Id:&nbsp;</h4>
          <p id="client-id">Client Id Value</p>
        </div>

        <div class="flex mb-4">
          <h4 class="text-c1 font-bold">Client URI:&nbsp;</h4>
          <p id="client-uri">Client URI Value</p>
        </div>
        <div class="flex mb-4">
          <h4 class="text-c1 font-bold">Grant Type:&nbsp;</h4>
          <p id="client-type">Client Type Value</p>
        </div>
        <div class="flex">
          <h4 class="text-c1 font-bold">Scope:&nbsp;</h4>
          <p id="client-scope">Client Scope Value</p>
        </div>
        <div class="flex mb-4 col-span-2">
          <h4 class="text-c1 font-bold">Client Secret:&nbsp;</h4>
          <p id="client-secret">Client Secret Value</p>
        </div>
      </div>
    </div>

    <!-- Modal Body -->
    <div class="modal-body w-full relative"></div>
  </div>
</div>

<div
  id="loadingModal"
  class="modal hidden fixed inset-0 flex items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"></div>

  <!-- Modal Content -->
  <div class="modal-container bg-white p-8 rounded shadow-lg z-10">
    <!-- Modal Header -->

    <!-- Modal Body -->
    <div class="modal-body w-full relative">
      <div class="flex flex-row gap-2">
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.7s]"
        ></div>
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.3s]"
        ></div>
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.7s]"
        ></div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!----------------- SCRIPTS ----------------->
{% block script %}

<!-- FETCH DISTINC OPTIONS -->
<script>
  document
    .getElementById('client-form')
    .addEventListener('submit', function (event) {
      event.preventDefault(); // Prevents the default form submission
      console.log('HERE IN CLIENT FORM');
      // Get form data
      const formData = new FormData(document.getElementById('client-form'));

      console.log('FORM DATA: ', formData);
      console.log('api_base_url: ', api_base_url);
      // Make a POST request using the Fetch API
      showModal('loadingModal');
      fetch(`${api_base_url}/create_client`, {
        method: 'POST',
        body: formData,
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            notyf.success(data.message);
            // get all input fields
            const inputs = document.querySelectorAll('#client-form input');

            // reset all input fields
            inputs.forEach((input) => {
              input.value = '';
            });
            const grid =
              document.getElementById('client-list').ej2_instances[0];
            grid.refresh();

            // emptry the formdata values
          }

          if (data.error) {
            notyf.error(data.message);
          }
        })
        .catch((error) => {
          // Handle errors
          if (!response.ok) {
            throw new Error(
              `Failed to fetch data. Try to contact the admin to resolve the issue.`
            );
          }
          console.error('Error:', error);
        })
        .finally(() => {
          closeModal('loadingModal');
        });
    });
</script>

<script>
  // get csrf token
  // const csrfToken = document.getElementsByName('_ejRequestVerifyToken')[0]
  //   .value;
  // console.log('CSRF IN 2: ', csrfToken);

  // Assume your Flask route provides configuration data
  let gridConfig = {
    apiUrl: `${api_base_url}/clients`,
    // insertUrl: `${api_base_url}/students/insert`,
    // removeUrl: `${api_base_url}/students/delete`,
    columns: [
      {
        field: 'Id',
        width: 100,
        visible: false, // Set to false to hide the column
      },
      {
        field: 'ClientId',
        isPrimaryKey: true,
        width: 100,
        // visible: false, // Set to false to hide the column
      },
      // Studen Number
      {
        field: 'ClientName',
        headerText: 'Client Name',
        width: 100,
        validationRules: {
          required: true,
        },
      },
      // Student Name
      {
        field: 'ClientURI',
        headerText: 'Client URL',
        width: 100,
        validationRules: {
          required: true,
        },
      },
      {
        headerText: 'Actions',
        template:
          '<button class="btn px-4 py-2 bg-primary text-white font-bold">View Data</button>', // Add a button to the cell
        width: 150,
      },
    ],
  };

  document.addEventListener('DOMContentLoaded', async function () {
    try {
      await fetch(`${api_base_url}/student/options`)
        .then((response) => response.json())
        .then((data) => {
          console.log('dTAL: ', data);
          if (data.result) {
            gridConfig.columns[6].edit.params.dataSource =
              data.result.genderOptions;
            gridConfig.columns[8].edit.params.dataSource =
              data.result.courseOptions;
            gridConfig.columns[10].edit.params.dataSource =
              data.result.batchOptions;
          }
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    } catch (error) {
      console.log('Error: ', error);
    }

    // Create a DataManager with the provided API URL
    let curriculum_subject_data = new ej.data.DataManager({
      url: gridConfig.apiUrl,
      adaptor: new ej.data.ODataAdaptor(),
    });

    // Create Syncfusion Grid using the provided configuration
    let grid = new ej.grids.Grid({
      dataSource: curriculum_subject_data,
      columns: gridConfig.columns,
      allowPaging: true,
      allowFiltering: true,
      allowSorting: true, // Enable sorting
      allowExcelExport: true,
      toolbar: ['ExcelExport'], // Add the ExcelExport button to the toolbar
      editSettings: {
        // allowEditing: true,

        showDeleteConfirmDialog: true,
      },
      pageSettings: { pageSize: 10, totalRecordsCount: 10 },
      beforeDataBound: function (args) {
        // If args action type is filter then go to page 1

        if (args.actionArgs.requestType === 'filtering') {
          grid.goToPage(1);
        }
        // RUn the adaptor

        // Access the data returned from the server
        console.log('Data returned from server:', args);
      },

      actionBegin: function (args) {
        if (args.requestType === 'paging') {
          // Handle pagination click
          console.log('Page clicked:', args.currentPage);
          // You can perform additional actions here, such as loading data for the new page.
        }
        if (args.requestType === 'filtering') {
          // Go to page 1
          grid.goToPage(1);
        }
      },

      actionComplete: function (args) {
        if (args.requestType === 'save' && args.action === 'add') {
          console.log('INSERTED ARGS: ', args);
          onSuccess('Data inserted successfully');
        }

        if (args.requestType === 'delete') {
          onSuccess('Data deleted successfully');
        }

        if (args.requestType === 'filtering') {
          // Go to page 1
          grid.goToPage(1);
        }
      },
      actionFailure: function (args) {
        if (args.error) {
          var errorResponse = JSON.parse(args.error[0].error.response);

          notyf.error(errorResponse.error);
        }
      },
    });
    grid.toolbarClick = function (args) {
      if (args['item'].id === 'client-list_excelexport') {
        grid.columns[7].visible = false;
        grid.excelExport();
      }
    };

    // Add a click event handler for all buttons with the "btn" class
    document.addEventListener('click', function (event) {
      if (event.target.classList.contains('btn')) {
        const cellElement = event.target.closest('.e-rowcell');
        if (cellElement) {
          const dataUid = cellElement.parentElement.getAttribute('data-uid');
          if (dataUid) {
            const rowData = grid.getRowObjectFromUID(dataUid).data;
            if (rowData) {
              fetchClientDetails(rowData.Id);
            }
          }
        }
      }
    });

    console.log('GRID: ', grid.dataSource);
    // Append the grid to the container
    grid.appendTo('#client-list');
  });

  async function fetchClientDetails(clientId) {
    try {
      const response = await fetch(`${api_base_url}/client/${clientId}`);
      if (!response.ok) {
        throw new Error(
          `Failed to fetch data. Try to contact the admin to resolve the issue.`
        );
      }

      const clients_data = await response.json();
      console.log('clients_data: ', clients_data);
      if (clients_data) {
        displayClientDetails(clients_data.result);
      }
      // Make a function that will display the clients list
    } catch (error) {
      console.error(error);
    }
  }

  function displayClientDetails(data) {
    console.log('data: ', data);
    // Get all client id to update value
    const clientId = document.getElementById('client-id');
    clientId.innerText = `${data.ClientId}`;
    const clientSecret = document.getElementById('client-secret');
    clientSecret.innerText = data.ClientSecret;
    const clientName = document.getElementById('client-name');
    clientName.innerText = data.ClientName;
    const clientURI = document.getElementById('client-uri');
    clientURI.innerText = data.ClientURI;
    const clientType = document.getElementById('client-type');
    clientType.innerText = data.GrantType;
    const clientScope = document.getElementById('client-scope');
    clientScope.innerText = data.Scope;

    showModal('client-modal');
  }

  fetchClient();
</script>
{% endblock script %}
