{% extends "systemadmin/layout.html" %}

<!----------------- TITLE ----------------->
{% block title %} SPS - Dashboard {% endblock title %} {% block styles %}
<style>
  /* Set the chart container to 100% width */
  #containerChart {
    width: 100%;
  }
</style>
{% endblock styles %}

<!----------------- CONTENT ----------------->
{% block content %}
<div class="p-4 md:ml-72">
  <div class="border-2 border-gray-200 border-dashed rounded-lg">
    <div class="w-full bg-white p-4 mt-4">
      <h1 class="text-2xl font-bold p-4 text-c1">Top Performer Students</h1>

      <form
        action="{{ url_for('system_admin_api.createClient') }}"
        method="post"
        class="grid grid-cols-1 sm:grid-cols-3 gap-4"
      >
        <label class="flex flex-col">
          <span>Client Name</span>
          <input
            type="text"
            name="client_name"
            class="border-solid border-2 border-sky-500"
          />
        </label>
        <label class="flex flex-col">
          <span>Client URI</span>
          <input
            type="url"
            name="client_uri"
            class="border-solid border-2 border-sky-500"
          />
        </label>
        <label class="flex flex-col">
          <span>Allowed Scope</span>
          <input
            type="text"
            name="scope"
            class="border-solid border-2 border-sky-500"
          />
        </label>
        <label class="flex flex-col">
          <span>Redirect URIs</span>
          <textarea
            name="redirect_uri"
            cols="30"
            rows="1"
            class="border-solid border-2 border-sky-500"
          ></textarea>
        </label>
        <label class="flex flex-col">
          <span>Allowed Grant Types</span>
          <textarea
            name="grant_type"
            cols="30"
            rows="1"
            class="border-solid border-2 border-sky-500"
          ></textarea>
        </label>
        <label class="flex flex-col">
          <span>Allowed Response Types</span>
          <textarea
            name="response_type"
            cols="30"
            rows="1"
            class="border-solid border-2 border-sky-500"
          ></textarea>
        </label>
        <label class="flex flex-col">
          <span>Token Endpoint Auth Method</span>
          <select
            name="token_endpoint_auth_method"
            class="border-solid border-2 border-sky-500"
          >
            <option value="client_secret_basic">client_secret_basic</option>
            <option value="client_secret_post">client_secret_post</option>
            <option value="none">none</option>
          </select>
        </label>
        <div class="flex">
          <button class="bg-primary px-4">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

<!----------------- SCRIPTS ----------------->
{% block script %}
<script></script>
{% endblock script %}
