{% extends "main/base2.html" %} {% block content %}

<div class="flex h-screen w-screen items-center justify-center mx-auto">
  <div
    class="bg-white shadow-lg p-10 text-center rounded-lg w-[36rem] border-2 border-gray-100"
  >
    <div>
      <img
        src="{{ url_for('static', filename='images/pup.png') }}"
        alt="Logo"
        class="object-cover object-center rounded-lg mx-auto w-16 md:w-28 lg:w-32"
      />

      <h1
        class="text-gray-800 font-poppins text-2xl font-extrabold mt-3 md:text-4xl md:mt-8"
      >
        System Admin Module
      </h1>
      <p class="text-gray-800 text-md font-poppins mt-3 mb-3 md:text-lg">
        Sign in to start your session
      </p>
    </div>

    <form class="flex flex-col gap-3" id="login-form">
      <div class="">
        <label
          htmlFor="email"
          class="flex text-left mb-2 font-medium text-gray-800"
        >
          Your email
        </label>
        <input
          id="email"
          name="email"
          type="email"
          placeholder="username@gmail.com"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5"
        />
      </div>

      <div class="">
        <label
          htmlFor="password"
          class="flex text-left mb-2 font-medium text-gray-800"
        >
          Your password
        </label>
        <input
          id="password"
          name="password"
          type="password"
          placeholder="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5"
        />
      </div>

      <button
        type="submit"
        class="text-white bg-sky-700 hover:bg-sky-600 focus:ring-4 focus:outline-none mt-4 focus:ring-sky-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
      >
        Sign In
      </button>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="messages text-red-500">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </form>

    <div>
      <div class="text-sm text-gray-800 mt-3">
        By using this service, you understand and agree to the PUP Online
        Services
        <a
          class="text-blue-500"
          href="https://www.pup.edu.ph/terms/"
          target="_blank"
          >Terms of Use</a
        >
        and
        <a
          class="text-blue-500"
          href="https://www.pup.edu.ph/privacy/"
          target="_blank"
          >Privacy Statement</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block script %}
<script>
  // Add event listener to the form submission
  document
    .getElementById('login-form')
    .addEventListener('submit', function (event) {
      event.preventDefault(); // Prevent the default form submission

      // Get the form data
      const formData = new FormData(event.target);
      console.log(formData);
      // Define the API URL for the login endpoint
      const apiUrl = "{{ url_for('system_admin_api.login') }}";

      // Make a POST request to the login API
      fetch(apiUrl, {
        method: 'POST',
        body: formData,
        credentials: 'include', // Include credentials (cookies) in the request
      })
        .then((response) => {
          console.log(response);
          if (response.status == 401) {
            // throw new Error('Invalid email or password');
            notyf.error('Invalid email or password');
          }
          return response.json(); // Parse the JSON response
        })
        .then((data) => {
          window.location.href = "{{ url_for('systemAdminHome') }}";
        })
        .catch((error) => {
          // Handle errors
          const messageContainer = document.getElementById('message-container');
          messageContainer.innerHTML = `<div class="text-red-500">Login failed: ${error.message}</div>`;
        });
    });
</script>
{% endblock script %}
