{% extends "main/base2.html" %} {% block content %}

<div class="flex h-screen w-screen items-center justify-center mx-auto">
  <div
    class="bg-white shadow-lg p-10 text-center rounded-lg border-2 border-gray-100 z-10 w-11/12 md:w-[36rem]"
  >
    <div>
      <h1
        class="text-accent1 font-poppins text-4xl font-extrabold mt-3 md:text-4xl md:mt-8"
      >
        Forgot Password
      </h1>
      <p class="text-accent2 text-base md:text-lg font-poppins mt-3 mb-3">
        Enter your email to reset password
      </p>
    </div>

    <form
      class="flex flex-col gap-3"
      onsubmit="submitForm(event)"
      method="POST"
      id="reset-form-email"
    >
      <div class="">
        <input
          id="email"
          name="email"
          placeholder="Email address"
          onchange="validateEmail()"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-sky-500 focus:border-sky-500 bg-white block w-full px-5 py-3"
        />
        <p id="email-error" class="text-primary text-sm text-left mt-2"></p>
      </div>

      <button
        type="submit"
        class="text-white bg-primary hover:opacity-80 font-medium rounded-lg text-base w-full sm:w-auto px-6 py-3 text-center"
      >
        Send Code
      </button>
    </form>

    <div id="submit-link" class="hidden">
      <a
        class="text-white bg-primary hover:opacity-80 focus:ring-1 focus:outline-none mt-4 font-medium rounded-lg text-sm w-full sm:w-auto px-6 h-12 text-center flex items-center justify-center"
        href="{{ url_for('systemAdminLogin') }}"
      >
        <div class="flex gap-4 flex items-center justify-center">
          <img
            src="{{ url_for('static', filename='images/home.png') }}"
            alt="Logo"
            class="object-cover object-center rounded-lg mx-auto w-16 md:w-28 lg:w-6 border-white"
          />
          <p class="font-bold">Back to Home</p>
        </div>
      </a>
      <a
        class="text-white bg-primary hover:opacity-80 focus:ring-1 focus:outline-none mt-4 font-medium rounded-lg text-sm w-full sm:w-auto px-6 h-12 text-center flex items-center justify-center"
        href="https://mail.google.com/"
        target="_blank"
      >
        <div class="flex gap-4 flex items-center justify-center">
          <img
            src="{{ url_for('static', filename='images/gmail.png') }}"
            alt="Logo"
            class="object-cover object-center rounded-lg mx-auto w-16 md:w-28 lg:w-6 border-white"
          />
          <p class="text-white font-bold">Open Gmail</p>
        </div>
      </a>
    </div>
    <div>
      <p class="text-sm text-gray-800 mt-3">
        By using this service, you understood and agree to the PUP Online
        Services Terms of Use and Privacy Statement
      </p>
    </div>
  </div>
</div>

{% endblock content %}

<!-- SCRIPTS -->
{% block script %}
<script>
  const api_base_url = '{{ system_admin_api_base_url | default("") }}';
  console.log('api_base_url: ', api_base_url);

  async function submitForm(event) {
    event.preventDefault();
    console.log('INSIDE SUBMIT FORM');
    const emailInput = document.getElementById('email');
    const emailValue = emailInput.value.trim();

    if (!emailValue) {
      const emailError = document.getElementById('email-error');
      emailError.textContent = 'Email is required';
    }

    // Check if error text content have value
    const emailError = document.getElementById('email-error');
    if (emailError.textContent) {
      return;
    }

    try {
      // Make a POST request to the login API
      fetch(`${api_base_url}/reset_password`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          email: emailValue,
        }),
        credentials: 'include', // Include credentials (cookies) in the request
      })
        .then((response) => {
          return response.json(); // Parse the JSON response
        })
        .then((data) => {
          console.log('DATA: ', data);
          if (data.success) {
            notyf.success(data.message);
            const formElement = document.getElementById('reset-form-email');
            const submitElement = document.getElementById('submit-link');

            formElement.classList.add('hidden');
            submitElement.classList.remove('hidden');
          } else if (data.error) {
            // Thrown error
            notyf.error(data.message);
          }
        })
        .catch((error) => {
          notyf.error(error.message);
        });
    } catch (error) {
      console.error('Error:', error);
    }
  }
</script>
{% endblock script %}
