{% extends "main/base2.html" %} {% block content %}

<div class="flex h-screen w-screen items-center justify-center mx-auto">
  <div
    class="bg-white shadow-lg p-10 text-center rounded-lg border-2 border-gray-100 z-10 w-11/12 md:w-[36rem]"
  >
    <div>
      <h1
        class="text-accent1 font-poppins text-4xl font-extrabold mt-3 md:text-4xl md:mt-8"
      >
        Update Password
      </h1>
      <p class="text-accent2 text-base md:text-lg font-poppins mt-3 mb-3">
        Reset your password
      </p>
    </div>

    <div id="home-link" class="w-full hidden">
      <a
        class="text-gray-800 bg-sky-700 hover:bg-sky-600 focus:ring-1 focus:outline-none mt-4 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center flex items-center justify-center"
        href="{{ url_for('systemAdminLogin') }}"
      >
        <div class="flex gap-4 flex items-center justify-center">
          <img
            src="{{ url_for('static', filename='images/home.png') }}"
            alt="Logo"
            class="object-cover object-center rounded-lg mx-auto w-16 md:w-28 lg:w-6 border-white"
          />
          <p class="font-bold">Back to Home</p>
        </div>
      </a>
    </div>

    <form
      id="reset-pass-form"
      class="flex flex-col gap-3"
      method="POST"
      onsubmit="submitForm(event)"
    >
      <div class="">
        <input
          name="password"
          id="new-password"
          type="password"
          placeholder="New Password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-sky-500 focus:border-sky-500 bg-white block w-full px-5 py-3"
          onchange="validatePassword(this)"
        />
        <p
          id="new-password-error"
          class="text-primary text-sm text-left mt-2"
        ></p>
      </div>

      <div class="">
        <input
          name="confirm-password"
          id="confirm-password"
          type="password"
          placeholder="Confirm Password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-sky-500 focus:border-sky-500 bg-white block w-full px-5 py-3"
          onchange="validatePassword(this)"
        />
        <p
          id="confirm-password-error"
          class="text-primary text-sm text-left mt-2"
        ></p>
      </div>

      <button
        type="submit"
        class="text-white bg-primary hover:opacity-80 font-medium rounded-lg text-base w-full sm:w-auto px-6 py-3 text-center"
      >
        Change Password
      </button>

      <ul class="messages text-red-500">
        <li id="message-container"></li>
      </ul>
    </form>

    <div>
      <p class="text-sm text-gray-800 mt-3">
        By using this service, you understood and agree to the PUP Online
        Services Terms of Use and Privacy Statement
      </p>
    </div>
  </div>
</div>

{% endblock content %}

<!-- SCRIPTS -->
{% block script %}
<!-- Include Notyf script -->

<script>
  const api_base_url = '{{ system_admin_api_base_url | default("") }}';
</script>
<!-- CHANGING PASSWORD -->
<script>
  const text_new_pass_error = document.getElementById('new-password-error');
  const text_confirm_pass_error = document.getElementById(
    'confirm-password-error'
  );

  async function submitForm(event) {
    event.preventDefault();
    console.log('SUBMITTING');
    const new_password = document.getElementById('new-password').value;
    const confirm_password = document.getElementById('confirm-password').value;
    console.log('GET VALUES');
    setErrorText(text_new_pass_error, '');
    setErrorText(text_confirm_pass_error, '');

    if (!new_password) {
      setErrorText(text_new_pass_error, 'New Password is required');
    }

    if (!confirm_password) {
      setErrorText(text_confirm_pass_error, 'Confirm Password is required');
    }

    if (new_password !== confirm_password) {
      setErrorText(text_confirm_pass_error, 'Passwords do not match');
    }

    // Check if text_new_pass_error or text_confirm_pass_error
    // has text content
    if (
      text_new_pass_error.textContent !== '' ||
      text_confirm_pass_error.textContent !== ''
    ) {
      return;
    }

    try {
      // Get the current URL
      const currentUrl = window.location.href;

      // Split the URL by slashes to get the parts
      const urlParts = currentUrl.split('/');

      // The token is usually the last part of the URL
      const token = urlParts[urlParts.length - 1];
      console.log(token);

      const apiUrl = `${api_base_url}/reset_password_confirm/${token}`;
      // Make a POST request to the login API
      fetch(apiUrl, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          new_password,
          confirm_password,
        }),
        credentials: 'include', // Include credentials (cookies) in the request
      })
        .then((response) => {
          if (response.status == 400) {
            notyf.error(data.message);
          }
          return response.json(); // Parse the JSON response
        })
        .then((data) => {
          notyf.success(data.message);

          window.location.href = "{{ url_for('systemAdminLogin') }}";
        })
        .catch((error) => {
          const messageContainer = document.getElementById('message-container');
          messageContainer.innerHTML = `<div class="text-red-500">Login failed: ${error.message}</div>`;
        });
    } catch (error) {
      console.error('Error:', error);
    }
  }
</script>

<!-- INPUT VALIDITY CHECKER -->
<script>
  function validatePassword(passwordInput) {
    setErrorText(text_new_pass_error, '');
    setErrorText(text_confirm_pass_error, '');
    const password = passwordInput.value;

    // Check the passwordInput Id
    const passwordInputId = passwordInput.id;
    // let passwordError
    if (passwordInputId === 'new-password') {
      passwordError = document.getElementById('new-password-error');
    } else {
      passwordError = document.getElementById('confirm-password-error');
    }

    const passwordFormat = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;

    if (!password) {
      passwordError.textContent = 'Password is required';
    } else if (password.length < 8) {
      passwordError.textContent = 'Password must be at least 8 characters long';
    } else if (!passwordFormat.test(password)) {
      passwordError.textContent =
        'Password must contain at least one uppercase letter, one lowercase letter, and one number';
      // Clear the input field if the password is not valid
    } else {
      if (passwordInputId == 'confirm-password') {
        // Check if the password and confirm password have value
        if (
          document.getElementById('new-password').value !== '' &&
          document.getElementById('confirm-password').value !== ''
        ) {
          if (
            document.getElementById('new-password').value !==
            document.getElementById('confirm-password').value
          ) {
            passwordError.textContent = 'Passwords do not match';
          } else {
            passwordError.textContent = ''; // Clear any previous error message
          }
        }
      } else {
        passwordError.textContent = ''; // Clear any previous error message
      }
    }
  }

  function setErrorText(element, message) {
    element.innerText = message;
  }

  function isValidPasswordLength(password) {
    return password.length >= 8;
  }

  function hasUppercaseLowercaseNumber(password) {
    return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)/.test(password);
  }

  function clearInputFields() {
    document.getElementById('password').value = '';
    document.getElementById('confirm-password').value = '';
    text_new_pass_error.innerText = '';
    text_confirm_pass_error.innerText = '';
  }
</script>
{% endblock script %}
