<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="/static/images/pup2.png"
      sizes="16x16 32x32"
      type="image/png"
    />
    <!-- CDN TAILWIND -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- LOCAL TAILWIND -->
    <!-- <link
       rel="stylesheet"
       href="{{url_for('static',filename='dist/css/output.css')}}"
     /> -->
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              c1: '#2b2d42', // dark red
              c2: '#8d99ae', // light red
              c3: '#edf2f4', // white
              c4: '#ef233c', // gray
              c5: '#d90429', // dark black
              primary: '#6376EB',
              secondary: '#CDD3D8',
              info: '#29BAF2',
              success: '#5EEE82',
              warning: '#FFA434',
              danger: '#FFA6A1',
              dark: '#191D21',
            },
          },
        },
      };
    </script>

    <!-- Notyf -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />
    <style>
      body {
        font-family: 'Inter', sans-serif;
      }

      .notyf {
        margin-top: 20px;
      }
    </style>

    <title>
      {% block title %}Polytechnic University of the Philippines{% endblock %}
    </title>
    <!-- Include CSS and other common resources here -->
  </head>
  <body>
    <main class="text-white bg-[#F6F8FB]">
      {% block content %} {% endblock %}
    </main>

    <!-- NOTYF -->
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script>
      const notyf = new Notyf({
        duration: 5000,
        position: {
          x: 'right',
          y: 'top',
        },
        types: [
          {
            type: 'success',
            background: '#5EEE82', // Custom background color for success notifications (e.g., green)
            duration: 5000,
            dismissible: true,
          },
          {
            type: 'error',
            background: '#ef233c', // Custom background color for error notifications (e.g., orange)
            duration: 5000,
            dismissible: true,
          },
        ],
      });
    </script>

    <script>
      function removeErrorMessage() {
        // select message-container
        const messageContainer = document.getElementById('message-container');
        // Clear the message
        messageContainer.textContent = '';
      }

      function validateEmail() {
        removeErrorMessage();
        const emailInput = document.getElementById('email');
        const email = emailInput.value;
        // Select email-error
        const emailError = document.getElementById('email-error');

        // Regular expression to check email format
        const emailFormat = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        if (!email) {
          emailError.textContent = 'Email is required';
        } else if (!emailFormat.test(email)) {
          emailError.textContent = 'Please enter a valid email address';
          // Clear the input field if the email is not valid
        }

        if (email && emailFormat.test(email)) {
          emailError.textContent = '';
        }
      }

      function validatePassword() {
        removeErrorMessage();
        const passwordInput = document.getElementById('password');
        const password = passwordInput.value;
        // Select password-error
        const passwordError = document.getElementById('password-error');

        const passwordFormat = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;

        if (!password) {
          passwordError.textContent = 'Password is required';
        }
        // else if password length is less than 8 characters
        else if (password.length < 8) {
          passwordError.textContent =
            'Password must be at least 8 characters long';
        } else if (!passwordFormat.test(password)) {
          passwordError.textContent =
            'Password must contain uppercase and lowercase characters and a number';
        } else {
          passwordError.textContent = ''; // Clear any previous error message
        }
      }
    </script>
    <!-- Include JavaScript and other common resources here -->
    {% block script %} {% endblock script %}
  </body>
</html>
