{% extends "main/base2.html" %} {% block content %}

<div class="flex h-screen w-screen items-center justify-center mx-auto">
  <div
    class="bg-white shadow-lg p-10 text-center rounded-lg w-[36rem] border-2 border-gray-100"
  >
    <div>
      <img
        src="{{ url_for('static', filename='images/pup.png') }}"
        alt="Logo"
        class="object-cover object-center rounded-lg mx-auto w-16 md:w-28 lg:w-32"
      />

      <h1
        class="text-gray-800 font-poppins text-2xl font-extrabold mt-3 md:text-4xl md:mt-8"
      >
        Welcome PUPian!
      </h1>
      <p class="text-gray-800 text-md font-poppins mt-3 mb-3 md:text-lg">
        Please click or tap your destination.
      </p>
    </div>

    <div class="">
      <a href="{{ url_for('studentLogin') }}">
        <button class="bg-sky-600 text-white w-full rounded-md py-2 mt-3">
          Student
        </button>
      </a>
      <a href="{{ url_for('facultyLogin') }}">
        <button
          class="bg-red-700 text-white w-full rounded-md py-2 mt-3 md:mt-4"
        >
          Faculty
        </button>
      </a>
    </div>
    <div>
      <div class="text-sm text-gray-800 mt-3">
        By using this service, you understand and agree to the PUP Online
        Services
        <a
          class="text-blue-500"
          href="https://www.pup.edu.ph/terms/"
          target="_blank"
          >Terms of Use</a
        >
        and
        <a
          class="text-blue-500"
          href="https://www.pup.edu.ph/privacy/"
          target="_blank"
          >Privacy Statement</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock content %}
