{% extends "registrar/layout.html" %} {% block title %}
<title>Students</title> {% endblock title %}
<!----------------- STYLE ----------------->
{% block style %} {% endblock style %}

<!----------------- CONTENT ----------------->
{% block content %}

<div class="grid grid-cols-6 grid-rows-11 gap-4 h-full overflow-auto">
  <div class="p-4 col-span-full">
    <div
      class="rounded-sm border border-stroke bg-white p-4 md:p-6 xl:p-7.5 shadow-sm"
    >
      <h3 class="text-2xl font-bold text-c4 mb-3 px-4" id="name-number">
        Student Requirements
      </h3>

      <div>
        <form
          class="bg-white p-4 rounded-lg"
          enctype="multipart/form-data"
          onsubmit="submitStudentsRequirements(event)"
        >
          <div class="mb-4">
            <label
              for="excelFile"
              class="block text-gray-700 font-bold text-lg mb-2"
            >
              Update Student Requirements
            </label>
            <p class="block text-gray-700 font-bold text-md mb-2">
              Column Required:
              <span class="font-normal"
                >StudentNumber, F-137, F-138, Good Moral(Seal), Grade 12, Grade
                11, SAR Form, PSA, Diploma, Grade 10(Without Seal)
              </span>
            </p>
          </div>
          <div class="mb-4 flex gap-4">
            <input
              type="file"
              name="excelFile"
              id="excelFile"
              accept=".xlsx, .xls"
              class="bg-gray-200 text-gray-700 rounded-lg py-2 px-4 w-1/2"
            />
            <!-- ADD CSRF /> -->

            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg"
            >
              Upload Excel File
            </button>
          </div>
          <p id="students-file-error" class="text-c4 text-sm"></p>
        </form>
      </div>

      <hr class="mx-2" />
      <div class="flex items-end justify-between">
        <div class="w-full bg-white p-4 mt-4">
          <div id="grid-student_requirements"></div>
          <script id="template" type="text/x-template">
            <div class="template_checkbox flex gap-4 ">
                ${if(Completed === "Completed")}
                <button class=" px-2 py-1 bg-success text-white font-bold rounded-md">Completed</button>
                ${else}
                <button class=" px-2 py-1 bg-red-500 text-white font-bold rounded-md" >Incomplete</button>
                ${/if}
            </div>
          </script>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="loadingModal"
  class="modal hidden fixed inset-0 flex items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"></div>

  <!-- Modal Content -->
  <div class="modal-container bg-white p-8 rounded shadow-lg z-10">
    <!-- Modal Header -->

    <!-- Modal Body -->
    <div class="modal-body w-full relative">
      <div class="flex flex-row gap-2">
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.7s]"
        ></div>
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.3s]"
        ></div>
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.7s]"
        ></div>
      </div>
    </div>
  </div>
</div>

<div
  id="studentErrorModal"
  class="modal hidden fixed inset-0 flex items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div
    class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"
    onclick="closeModalError('studentErrorModal', 'grid-error-students-list')"
  ></div>
  <!-- Modal Content -->
  <div
    class="modal-container bg-white p-8 rounded shadow-lg z-10 w-10/12 overflow-y-auto"
  >
    <!-- Modal Header -->
    <div class="modal-header overflow-y-auto">
      <div class="flex justify-between">
        <h2 class="text-c1 text-2xl font-semibold">
          Updating student requirements list error
        </h2>

        <button
          class="modal-close"
          onclick="closeModalError('studentErrorModal', 'grid-error-students-list')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
              fill="#000"
            />
          </svg>
        </button>
      </div>
      <p class="text-gray-700 mt-4">Export the grid to see all the errors</p>
      <div class="modal-body w-full relative mt-8">
        <div id="grid-error-students-list" class="overflow-y-auto">
          <!-- This is the content of modal -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div
  id="student-requirements-modal"
  class="modal hidden fixed inset-0 flex items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"></div>

  <!-- Modal Content -->
  <div class="modal-container bg-white p-8 rounded shadow-lg z-10">
    <!-- Modal Header -->
    <div class="modal-header">
      <div class="flex justify-between">
        <h2 class="text-c1 text-2xl font-semibold">Performance Details</h2>
        <button
          class="modal-close"
          onclick="closeModal('student-requirements-modal')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
              fill="#000"
            />
          </svg>
        </button>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <p id="student-id" class="hidden">1234 1231 123123</p>
        <div class="">
          <h4 class="text-c1 font-bold">Student Name:&nbsp;</h4>
          <p id="student-name">Sampe Name</p>
        </div>
        <div>
          <h4 class="text-c1 font-bold">Student Number:&nbsp;</h4>
          <p id="student-number">1234 1231 123123</p>
        </div>
        <div class="">
          <h4 class="text-c1 font-bold">Status</h4>
          <p id="student-status">Complete</p>
        </div>
      </div>
      <form
        class="grid grid-cols-2 mt-4 gap-4 w-[600px]"
        onsubmit="updateSingleStudentRequirements(event)"
      >
        <div class="flex gap-2.5">
          <input type="checkbox" id="f137" name="f137" />
          <label class="text-base" for="submitted">F-137</label>
        </div>
        <div class="flex gap-2.5">
          <input type="checkbox" id="f138" name="f138" />
          <label class="text-base" for="submitted">F-138</label>
        </div>
        <div class="flex gap-2.5">
          <input type="checkbox" id="good-moral-seal" name="good-moral-seal" />
          <label class="text-base" for="submitted">Good Moral Seal</label>
        </div>
        <div class="flex gap-2.5">
          <input type="checkbox" id="grade12" name="grade12" />
          <label class="text-base" for="submitted">Grade 12</label>
        </div>
        <div class="flex gap-2.5">
          <input type="checkbox" id="grade11" name="grade11" />
          <label class="text-base" for="submitted">Grade 11</label>
        </div>
        <div class="flex gap-2.5">
          <input type="checkbox" id="sar-form" name="sar-form" />
          <label class="text-base" for="submitted">SAR Form</label>
        </div>
        <div class="flex gap-2.5">
          <input type="checkbox" id="psa" name="psa" />
          <label class="text-base" for="submitted">PSA</label>
        </div>
        <div class="flex gap-2.5">
          <input type="checkbox" id="diploma" name="diploma" />
          <label class="text-base" for="submitted">Diploma</label>
        </div>
        <div class="flex gap-2.5">
          <input
            type="checkbox"
            id="grade-10-without-seal"
            name="grade-10-without-seal"
          />
          <label class="text-base" for="submitted">Grade 10 Without Seal</label>
        </div>
        <button
          type="submit"
          class="col-span-2 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg"
        >
          Update Changes
        </button>
      </form>
    </div>

    <!-- Modal Body -->
    <div class="modal-body w-full relative"></div>
  </div>
</div>
{% endblock content %}

<!-- SCRIPTS DATA -->
{% block script %}

<script>
  function closeModalCurriculumSubjects(modalElementId, listElementId) {
    // Get the #grid-student-list element
    var gridErrorList = document.getElementById(listElementId);

    // Remove all child nodes (content) inside #grid-student-list
    while (gridErrorList.firstChild) {
      gridErrorList.removeChild(gridErrorList.firstChild);
    }

    closeModal(modalElementId);
  }
</script>

<!-- ADDING STUDENTS -->
<script>
  async function submitStudentsRequirements(event) {
    event.preventDefault();
    // const csrfToken = document.getElementsByName('csrf_token')[0].value;
    // console.log('csrfToken: ', csrfToken);

    const fileErrorElement = document.getElementById('students-file-error');
    const fileInput = document.getElementById('excelFile');
    const file = fileInput.files[0];
    // Get csrf token

    if (!file) {
      fileErrorElement.innerText = 'Please choose a file.';
      return;
    }

    if (!file.name.endsWith('.xlsx') && !file.name.endsWith('.xls')) {
      fileErrorElement.innerText =
        'Invalid file type. Please select an Excel file.';
      return;
    } else {
      fileErrorElement.innerText = '';
    }

    // If file type is valid, proceed with the API request
    const formData = new FormData();
    formData.append('excelFile', file);
    // formData.append('csrf_token', csrfToken);

    try {
      showModal('loadingModal');
      fetch(`${api_base_url}/submit/student-requirements`, {
        method: 'POST',
        body: formData,
      })
        .then((response) => response.json())
        .then((data) => {
          handleDataSubmitResults(
            data,
            fileInput,
            displaySubmitErrorStudentRequirements,
            'studentErrorModal',
            'grid-student_requirements'
          );
        })
        .catch((error) => {
          if (error) {
            console.log('Error: ', error);
          }
        })
        .finally(() => {
          closeModal('loadingModal');
        });
    } catch (error) {
      if (error) {
        console.log('Error: ', error);
      }
    }
  }

  function displaySubmitErrorStudentRequirements(students) {
    let gridError = new ej.grids.Grid({
      dataSource: students,
      allowPaging: true,
      allowSorting: true, // Enable sorting
      allowExcelExport: true,
      pageSettings: { pageSize: 10 }, // Set the page size
      // rowData: json_class['ClassSubjectGrade'],
      columns: [
        {
          field: 'StudentNumber',
          headerText: 'Student Number',
          width: 120,
        },
        {
          field: 'F_137',
          headerText: 'F-137',
          width: 150,
          filterBarTemplate: generateFilterBarTemplate('F_137'),
        },
        {
          field: 'F_138',
          headerText: 'F-138',
          width: 150,
          filterBarTemplate: generateFilterBarTemplate('F_138'),
        },
        {
          field: 'GoodMoralSeal',
          headerText: 'GoodMoralSeal',
          width: 150,
          filterBarTemplate: generateFilterBarTemplate('GoodMoralSeal'),
        },
        {
          field: 'Grade12',
          headerText: 'Grade12',
          width: 150,
          filterBarTemplate: generateFilterBarTemplate('Grade12'),
        },
        {
          field: 'Grade11',
          headerText: 'Grade11',
          width: 150,
          filterBarTemplate: generateFilterBarTemplate('Grade11'),
        },
        {
          field: 'SARForm',
          headerText: 'SARForm',
          width: 150,
          filterBarTemplate: generateFilterBarTemplate('SARForm'),
        },
        {
          field: 'PSA',
          headerText: 'PSA',
          width: 150,
          filterBarTemplate: generateFilterBarTemplate('PSA'),
        },
        {
          field: 'Diploma',
          headerText: 'Diploma',
          width: 150,
          filterBarTemplate: generateFilterBarTemplate('Diploma'),
        },
        {
          field: 'Grade10WithoutSeal',
          headerText: 'Grade10WithoutSeal',
          width: 150,
          filterBarTemplate: generateFilterBarTemplate('Grade10WithoutSeal'),
        },

        {
          field: 'Error',
          width: 150,
        },
      ],

      toolbar: ['ExcelExport'], // Add the ExcelExport button to the toolbar
      allowExcelExport: true, // Enable Excel export feature
    });

    gridError.toolbarClick = function (args) {
      if (args['item'].id === 'grid-error-students-list_excelexport') {
        gridError.excelExport();
      }
    };

    // Render the grid
    gridError.appendTo('#grid-error-students-list');

    const filterbarOperator = new ej.buttons.CheckBox();
    filterbarOperator.appendTo('#filterBarOperator');

    filterbarOperator.addEventListener('change', function (args) {
      gridError.filterSettings.showFilterBarOperator = args.checked;
      gridError.clearFiltering();
    });
  }
</script>

<!-- FETCHING STUDENT DETAILS -->
<script>
  // JavaScript function to show the modal
  async function fetchStudents() {
    const response = await fetch(`${api_base_url}/students`);

    if (!response.ok) {
      throw new Error(
        `Failed to fetch data. Try to contact the admin to resolve the issue.`
      );
    }

    const data = await response.json();
    if (!data.error) {
      displayStudent(data, 10);
    } else {
      displayStudent([], 10);
    }
  }

  // Function to initialize and display the Syncfusion Grid
  function displayStudent(data, recordsPerPage) {
    // Create an instance of the Syncfusion Grid
    const grid = new ej.grids.Grid({
      dataSource: data, // Paginated data
      allowPaging: true,
      allowFiltering: true,
      allowSorting: true, // Enable sorting
      allowExcelExport: true,
      columns: [
        // Define your columns based on your data structure
        { field: 'Student Number', headerText: 'Student Number' },
        { field: 'Name', headerText: 'Name' },
        { field: 'Email', headerText: 'Email' },
        { field: 'Mobile Number', headerText: 'Mobile Number' },
        { field: 'Gender', headerText: 'Gender' },
        // Add other fields as needed
      ],
      pageSettings: {
        pageSize: 10, // Records per page
        // pageCount: Math.ceil(data.length / recordsPerPage), // Calculate total number of pages
        pageSizes: [10, 20, 50, 100], // Custom page size options
        showPageCount: true, // Display page count
        showPager: true, // Display pager
      },
      toolbar: ['ExcelExport'], // Add the ExcelExport button to the toolbar
      allowExcelExport: true, // Enable Excel export feature
      excelExportComplete: function (args) {
        // Exclude the 'Subject Code' column from the exported Excel file
        args.xlsxExportOptions.sheets[0].columns =
          args.xlsxExportOptions.sheets[0].columns.filter(function (column) {
            return column.field !== 'Subject';
          });
      },
    });

    // Render the Syncfusion Grid in the specified element
    grid.appendTo('#grid');

    grid.toolbarClick = function (args) {
      if (args['item'].id === 'grid_excelexport') {
        grid.excelExport();
      }
    };
  }

  fetchStudents();
</script>

<!-- FETCH DISTINCT OPTIONS -->
<script>
  let grid;
  // Function to generate filter bar template
  function generateFilterBarTemplate(field) {
    return {
      create: function (args) {
        var dd = document.createElement('input');
        dd.id = field;
        return dd;
      },
      write: function (args) {
        var semester = ['All', 'Submitted', 'Missing'];

        var DropDownListObj = new ej.dropdowns.DropDownList({
          dataSource: semester,
          fields: { text: field, value: field },
          placeholder: 'Select a value',

          change: function (e) {
            console.log('CHANGE: ', e.value);
            var gridObj =
              document.getElementsByClassName('e-grid')[0].ej2_instances[0];
            if (e.value == 'All') {
              gridObj.removeFilteredColsByField(field);
            } else {
              gridObj.filterByColumn(field, 'equal', e.value);
            }
          },
        });
        DropDownListObj.appendTo('#' + field);
      },
    };
  }

  function generateFilter(field, value) {
    return {
      create: function (args) {
        var dd = document.createElement('input');
        dd.id = field;
        return dd;
      },
      write: function (args) {
        var semester = [...value];

        var DropDownListObj = new ej.dropdowns.DropDownList({
          dataSource: semester,
          fields: { text: field, value: field },
          placeholder: 'Select a value',

          change: function (e) {
            console.log('CHANGE: ', e.value);
            var gridObj =
              document.getElementsByClassName('e-grid')[0].ej2_instances[0];
            if (e.value == 'All') {
              gridObj.removeFilteredColsByField(field);
            } else {
              gridObj.filterByColumn(field, 'equal', e.value);
            }
          },
        });
        DropDownListObj.appendTo('#' + field);
      },
    };
  }

  let gridConfig = {
    apiUrl: `${api_base_url}/student/requirements`,
    insertUrl: `${api_base_url}/students/insert`,
    removeUrl: `${api_base_url}/students/delete`,
    columns: [
      {
        field: 'StudentId',
        isPrimaryKey: true,
        // width: 100,
        visible: false, // Set to false to hide the column
      },
      // Studen Number
      {
        field: 'StudentNumber',
        headerText: 'Student Number',
        width: 150,
        validationRules: {
          required: true,
        },
      },
      {
        field: 'LastName',
        headerText: 'Last',
        width: 150,
      },
      {
        field: 'FirstName',
        headerText: 'First',
        width: 150,
      },
      {
        field: 'MiddleName',
        headerText: 'Middle',
        width: 150,
      },
      {
        headerText: 'Status',
        field: 'Completed',
        template: '#template',
        filterBarTemplate: generateFilter('Completed', [
          'All',
          'Completed',
          'Incomplete',
        ]),
        width: 80,
      },
      {
        headerText: 'Actions',
        template:
          '<button class="btn p-1" ><svg class="btn" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#eab308" d="M3 21V3h10.925l-2 2H5v14h14v-6.95l2-2V21zm18.025-9H12zM9 15v-4.25L19.625.125L23.8 4.4L13.25 15zM21.025 4.4l-1.4-1.4zM11 13h1.4l5.8-5.8l-.7-.7l-.725-.7L11 11.575zm6.5-6.5l-.725-.7zl.7.7z"/></svg></button>', // Add a button to the cell
        width: 80,
      },

      // HIDDEN FIELDS:
      {
        field: 'F_137',
        headerText: 'F-137',
        width: 150,
        visible: false,
        filterBarTemplate: generateFilterBarTemplate('F_137'),
      },
      {
        field: 'F_138',
        headerText: 'F-138',
        width: 150,
        visible: false,
        filterBarTemplate: generateFilterBarTemplate('F_138'),
      },
      {
        field: 'GoodMoralSeal',
        headerText: 'GoodMoralSeal',
        width: 150,
        visible: false,
        filterBarTemplate: generateFilterBarTemplate('GoodMoralSeal'),
      },
      {
        field: 'Grade12',
        headerText: 'Grade12',
        width: 150,
        visible: false,
        filterBarTemplate: generateFilterBarTemplate('Grade12'),
      },
      {
        field: 'Grade11',
        headerText: 'Grade11',
        width: 150,
        visible: false,
        filterBarTemplate: generateFilterBarTemplate('Grade11'),
      },
      {
        field: 'SARForm',
        headerText: 'SARForm',
        width: 150,
        visible: false,
        filterBarTemplate: generateFilterBarTemplate('SARForm'),
      },
      {
        field: 'PSA',
        headerText: 'PSA',
        width: 150,
        visible: false,
        filterBarTemplate: generateFilterBarTemplate('PSA'),
      },
      {
        field: 'Diploma',
        headerText: 'Diploma',
        width: 150,
        visible: false,
        filterBarTemplate: generateFilterBarTemplate('Diploma'),
      },
      {
        field: 'Grade10WithoutSeal',
        headerText: 'Grade10WithoutSeal',
        width: 150,
        visible: false,
        filterBarTemplate: generateFilterBarTemplate('Grade10WithoutSeal'),
      },
    ],
  };

  document.addEventListener('DOMContentLoaded', async function () {
    try {
      await fetch(`${api_base_url}/student/options`)
        .then((response) => response.json())
        .then((data) => {
          if (data.result) {
            gridConfig.columns[6].edit.params.dataSource =
              data.result.genderOptions;
            gridConfig.columns[8].edit.params.dataSource =
              data.result.courseOptions;
            gridConfig.columns[10].edit.params.dataSource =
              data.result.batchOptions;
          }
        })
        .catch((error) => {
          if (error) {
            console.log('Error: ', error);
          }
        });
    } catch (error) {
      if (error) {
        console.log('Error: ', error);
      }
    }

    // Create a DataManager with the provided API URL
    let curriculum_subject_data = new ej.data.DataManager({
      url: gridConfig.apiUrl,
      insertUrl: gridConfig.insertUrl,
      removeUrl: gridConfig.removeUrl,
      adaptor: new ej.data.ODataAdaptor(),
      // headers: [{ csrf_token: csrfToken }],
    });

    // Create Syncfusion Grid using the provided configuration
    grid = new ej.grids.Grid({
      dataSource: curriculum_subject_data,
      columns: gridConfig.columns,
      allowPaging: true,
      allowFiltering: true,
      allowSorting: true, // Enable sorting
      allowExcelExport: true,
      allowScrolling: true, // Enable scrolling
      scrollable: { height: '100%', width: 'auto' },
      toolbar: ['ExcelExport', 'Send Notice', 'Clear Filters'], // Add the ExcelExport button to the toolbar
      editSettings: {
        // allowEditing: true,
        allowAdding: true,
        allowDeleting: true,
        showDeleteConfirmDialog: true,
      },
      pageSettings: { pageSize: 10, totalRecordsCount: 10 },
      // dataBound: function () {
      //   grid.autoFitColumns(['ShipName', 'ShipAddress']);
      // },
      beforeDataBound: function (args) {
        // If args action type is filter then go to page 1

        if (args.actionArgs.requestType === 'filtering') {
          grid.goToPage(1);
        }
        // RUn the adaptor

        // Access the data returned from the server
        console.log('Data returned from server:', args);
      },

      actionBegin: function (args) {
        if (args.requestType === 'paging') {
          // Handle pagination click
          console.log('Page clicked:', args.currentPage);
          // You can perform additional actions here, such as loading data for the new page.
        }
        if (args.requestType === 'filtering') {
          // Go to page 1
          grid.goToPage(1);
        }
      },

      actionComplete: function (args) {
        if (args.requestType === 'save' && args.action === 'add') {
          console.log('INSERTED ARGS: ', args);
          onSuccess('Data inserted successfully');
        }

        if (args.requestType === 'delete') {
          onSuccess('Data deleted successfully');
        }

        if (args.requestType === 'filtering') {
          // Go to page 1
          grid.goToPage(1);
        }
      },
      actionFailure: function (args) {
        if (args.error) {
          var errorResponse = JSON.parse(args.error[0].error.response);

          notyf.error(errorResponse.error);
        }
      },
    });

    grid.toolbarClick = function (args) {
      if (args['item'].id === 'grid-student_requirements_excelexport') {
        grid.columns[5].visible = false;
        grid.columns[6].visible = false;
        grid.columns[7].visible = true;
        grid.columns[8].visible = true;
        grid.columns[9].visible = true;
        grid.columns[10].visible = true;
        grid.columns[11].visible = true;
        grid.columns[12].visible = true;
        grid.columns[13].visible = true;
        grid.columns[14].visible = true;
        grid.columns[15].visible = true;

        grid.excelExport();
      } else if (
        args['item'].id === 'grid-student_requirements_Clear Filters'
      ) {
        grid.clearFiltering();
        grid.refresh();
      } else if (args['item'].id === 'grid-student_requirements_Send Notice') {
        try {
          showModal('loadingModal');
          fetch(`${api_base_url}/notice/students`, {
            method: 'POST',
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                notyf.success(data.message);
              }
            })
            .catch((error) => {
              if (error) {
                console.log('Error: ', error);
              }
            })
            .finally(() => {
              closeModal('loadingModal');
            });
        } catch (error) {
          if (error) {
            console.log('Error: ', error);
          }
        }
      }
    };

    // Add a click event handler for all buttons with the "btn" class
    document.addEventListener('click', function (event) {
      if (event.target.classList.contains('btn')) {
        const cellElement = event.target.closest('.e-rowcell');
        if (cellElement) {
          const dataUid = cellElement.parentElement.getAttribute('data-uid');
          if (dataUid) {
            const rowData = grid.getRowObjectFromUID(dataUid).data;
            const fullname =
              rowData.LastName +
              ' ' +
              rowData.FirstName +
              ' ' +
              rowData.MiddleName;

            // Get student name , status and number
            const student_id_text = document.getElementById('student-id');
            const student_number_text =
              document.getElementById('student-number');
            const student_name_text = document.getElementById('student-name');
            const student_status_text =
              document.getElementById('student-status');

            student_number_text.innerText = rowData.StudentNumber;
            student_name_text.innerText = fullname;
            student_status_text.innerText = rowData.Completed;
            student_id_text.innerText = rowData.StudentId;

            // Get inputs based on the value of rowData F-137 F-138, GoodMoralSeal, Grade12, Grade11, SarForm, PSA, Diploma, Grade10WithoutSeal
            const student_f137_input = document.getElementById('f137');
            const student_f138_input = document.getElementById('f138');
            const student_good_moral_seal_input =
              document.getElementById('good-moral-seal');

            const student_grade12_input = document.getElementById('grade12');
            const student_grade11_input = document.getElementById('grade11');

            const student_sar_form_input = document.getElementById('sar-form');
            const student_psa_input = document.getElementById('psa');
            const student_diploma_input = document.getElementById('diploma');
            const student_grade10_without_seal_input = document.getElementById(
              'grade-10-without-seal'
            );

            // // update values
            student_f137_input.checked = rowData.F_137 === 'Submitted';
            student_f138_input.checked = rowData.F_138 === 'Submitted';
            student_good_moral_seal_input.checked =
              rowData.GoodMoralSeal === 'Submitted';
            student_grade12_input.checked = rowData.Grade12 === 'Submitted';
            student_grade11_input.checked = rowData.Grade11 === 'Submitted';

            student_sar_form_input.checked = rowData.SARForm === 'Submitted';
            student_psa_input.checked = rowData.PSA === 'Submitted';
            student_diploma_input.checked = rowData.Diploma === 'Submitted';
            student_grade10_without_seal_input.checked =
              rowData.Grade10WithoutSeal === 'Submitted';

            showModal('student-requirements-modal');
          }
        }
      }
    });

    console.log('GRID: ', grid.dataSource);
    // Append the grid to the container
    grid.appendTo('#grid-student_requirements');

    // get this grid-student_requirements_Send Notice F137
    const sendNoticeButton = document.getElementById(
      'grid-student_requirements_Send Notice'
    );
    console.log('sendNoticeButton:', sendNoticeButton);
    // Set class e-tbar-btn-text
    // get parent of sendNoticeButton
    const sendNoticeButtonParent = sendNoticeButton.parentElement;
    sendNoticeButtonParent.title = 'Send email notice to students';
    // Add class e-tbar-btn
    sendNoticeButton.classList.add('flex');
    sendNoticeButton.classList.add('items-center');

    // update text to Notice
    sendNoticeButton.innerHTML =
      '<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#ffffff" d="M24 7h-2v6h2zm0 8h-2v2h2zm-4-9c0-1.1-.9-2-2-2H2C.9 4 0 4.9 0 6v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H2V8l8 5l8-5z"/></svg><p class="e-tbar-btn-text ml-1">Send Notice</p>';

    // Add a custom toolbar item to clear filters
  });
</script>

<!-- UPDATE STUDENT REQUIREMENTS -->
<script>
  // Function to handle form submission
  function updateSingleStudentRequirements(event) {
    // Prevent the default form submission
    event.preventDefault();

    const form = event.target;
    // Create an object to hold the form data
    const formData = new FormData(form);
    console.log('FORM DATA FIRST: ', formData);
    // Iterate over each input element in the form
    Array.from(form.elements).forEach((input) => {
      if (input.type === 'checkbox') {
        formData[input.name] = input.checked;
      }
    });

    const studentId = document.getElementById('student-id').innerText;
    try {
      showModal('loadingModal');
      fetch(`${api_base_url}/submit/student-requirements/${studentId}`, {
        method: 'POST',
        body: formData,
        credentials: 'include',
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            notyf.success(data.message);
            grid.refresh();
            closeModal('student-requirements-modal');
          } else {
            notyf.error(data.message);
          }
        })
        .catch((error) => {
          if (error) {
            console.log('Error: ', error);
          }
        })
        .finally(() => {
          closeModal('loadingModal');
        });
    } catch (error) {
      if (error) {
        console.log('Error: ', error);
      }
    }

    // Here, you can also send formData to a server or process it further as needed
  }
</script>

{% endblock script %}
