{% extends "universityadmin/layout.html" %} {% block title %}
<title>Class List</title> {% endblock title %}
<!----------------- STYLE ----------------->
{% block style %}

<style>
  /* #lister_svg{
    background-color: aqua;
  
  }
   */
</style>
{% endblock style %}

<!----------------- CONTENT ----------------->
{% block content %}

<div class="grid grid-cols-6 grid-rows-11 gap-4 h-full overflow-auto p-4">
  <div class="bg-white p-8 shadow-md col-span-full">
    <div
      class="rounded-sm border border-stroke bg-white p-4 md:p-6 xl:p-7.5 shadow-sm"
    >
      <h3 class="text-2xl font-bold text-c4 mb-3 px-4" id="name-number">
        Classes
      </h3>

      <div>
        <form
          class="bg-white p-4 rounded-lg"
          enctype="multipart/form-data"
          onsubmit="submitClass(event)"
          method="POST"
          id="reset-form-email"
        >
          <div class="mb-4">
            <label
              for="excelFile"
              class="block text-gray-700 font-bold text-lg mb-2"
            >
              Add Class:
            </label>
            <p class="font-semibold text-gray-700">
              Column Required:
              <span class="font-normal"
                >Course Code (BSBA), Year Level, Section, Semester, Batch</span
              >
            </p>
          </div>
          <div class="mb-4 flex gap-4">
            <input
              type="file"
              name="excelFile"
              id="excelFile"
              accept=".xlsx, .xls"
              class="bg-gray-200 text-gray-700 rounded-lg py-2 px-4 w-1/2"
            />

            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg"
            >
              Upload Excel File
            </button>
          </div>
          <p id="class-file-error" class="text-c4 text-sm"></p>
          <div id="errors" class="hidden">
            <div>
              <p id="course-error" class="text-c1 text-xl font-semibold hidden">
                Course not existing:
              </p>
              <ul id="course-not-exist-list-error" class="text-c1 text-sm"></ul>
            </div>

            <div>
              <p
                id="curriculum-error"
                class="text-c1 text-xl font-semibold hidden"
              >
                Curriculum not exist for:
              </p>
              <ul
                id="curriculum-not-exist-list-error"
                class="text-c1 text-sm"
              ></ul>
            </div>

            <div>
              <p id="class-error" class="text-c1 text-xl font-semibold hidden">
                Class already exist:
              </p>
              <ul id="class-exist-list-error" class="text-c1 text-sm"></ul>
            </div>
          </div>
        </form>
      </div>

      <hr class="mx-2" />
      <div class="flex items-end justify-between">
        <div class="w-full bg-white p-4 mt-4">
          <div id="grid-class"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div
  id="myModal"
  class="modal hidden fixed inset-0 items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"></div>

  <!-- Modal Content -->
  <div class="modal-container bg-white p-8 rounded shadow-lg z-10">
    <!-- Modal Header -->
    <div class="modal-header">
      <div class="flex justify-between">
        <h2 class="text-c1 text-2xl font-semibold">Performance Details</h2>
        <button class="modal-close" onclick="closeModal()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
              fill="#000"
            />
          </svg>
        </button>
      </div>
      <div class="grid grid-cols-1 mt-4">
        <div class="flex">
          <h4 class="text-c1 font-bold">Class Name:&nbsp;</h4>
          <p id="class-name">...</p>
        </div>
        <div class="flex mb-4">
          <h4 class="text-c1 font-bold">Course:&nbsp;</h4>
          <p id="course-name">...</p>
        </div>

        <div
          id="columnChartClassPerformance"
          class="w-full col-span-full z-10"
        ></div>
      </div>
    </div>

    <!-- Modal Body -->
    <div class="modal-body w-full relative"></div>
  </div>
</div>

<div
  id="loadingModal"
  class="modal hidden fixed inset-0 items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"></div>

  <!-- Modal Content -->
  <div class="modal-container bg-white p-8 rounded shadow-lg z-10">
    <!-- Modal Header -->

    <!-- Modal Body -->
    <div class="modal-body w-full relative">
      <div class="flex flex-row gap-2">
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.7s]"
        ></div>
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.3s]"
        ></div>
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.7s]"
        ></div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- SCRIPTS DATA -->
{% block script %}

<!-- FETCH CLASS PERFORMANCE (CHART) -->
<script>
  // JavaScript function to show the modal
  async function fetchClassPerformance(class_id, course, class_name) {
    console.log('class_id, course, class_name: ', class_id, course, class_name);
    const response = await fetch(
      `${api_base_url}/class/performance/${class_id}`
    );

    if (!response.ok) {
      throw new Error(
        `Failed to fetch data. Try to contact the admin to resolve the issue.`
      );
    }

    const data_performance = await response.json();
    displayClassPerformance(data_performance, course, class_name);
  }

  function displayClassPerformance(json_class_performance, course, class_name) {
    console.log('json_class_performance: ', json_class_performance);
    // Sample dummy data
    var chartData = [...json_class_performance['ListGrade']];

    // Create the chart
    var chart = new ej.charts.Chart({
      primaryXAxis: {
        title: 'Year',
        minimum: json_class_performance.Batch - 4,
        maximum: json_class_performance.Batch + 1,
        interval: 1,
      },
      primaryYAxis: {
        title: 'Grade',
        minimum: 0,
        maximum: 100,
        interval: 20,
      },
      series: [
        {
          dataSource: chartData,
          xName: 'x',
          yName: 'y',
          name: 'Average',
          type: 'Column',
          fill: '#FFA434',
        },
      ],
      title: `${class_name} - Average Class Grade`,
      tooltip: {
        enable: true,
        format: 'Year: ${point.x}<br>Count: ${point.y}%',
      },
    });

    document.getElementById('course-name').innerText = course;
    document.getElementById('class-name').innerText = class_name;

    // Render the chart
    chart.appendTo(`#columnChartClassPerformance`);

    document.getElementById('myModal').classList.remove('hidden');
    document.getElementById('myModal').classList.add('flex');
  }

  // JavaScript function to close the modal
  function closeModal() {
    document.getElementById('myModal').classList.add('hidden');
  }
</script>

<!-- FETCH ALL CLASS DATA (GRIDS)-->
<script>
  async function fetchAllClass() {
    try {
      const response = await fetch(`${api_base_url}/class/data`);

      if (!response.ok) {
        throw new Error(
          `Failed to fetch data. Try to contact the admin to resolve the issue.`
        );
        return;
      }

      const json_class = await response.json();

      displayGridClass(json_class.Classes);
    } catch (error) {
      console.error(error);
    }
  }

  function displayGridClass(json_class) {
    console.log('json_class: ', json_class);
    // Create the grid with filtering
    var grid = new ej.grids.Grid({
      dataSource: json_class,
      allowPaging: true,
      allowFiltering: true,
      allowSorting: true, // Enable sorting
      allowExcelExport: true,
      pageSettings: { pageSize: 10 }, // Set the page size
      // rowData: json_class['ClassSubjectGrade'],
      columns: [
        {
          field: 'Course',
          headerText: 'Course Name',
          width: 250,
        },
        {
          field: 'ClassName',
          headerText: 'Section Code',
          width: 150,
        },
        {
          field: 'Batch',
          headerText: 'Batch',
          width: 100,
        },
        {
          field: 'Semester',
          headerText: 'Semester',
          width: 100,
        },
        {
          field: 'Grade',
          headerText: 'Grade',
          width: 100,
        },

        {
          headerText: 'Actions',
          template:
            '<button class="btn px-4 py-2 bg-primary text-white font-bold" >Performance</button>', // Add a button to the cell
          width: 150,
        },
        {
          headerText: 'Link',
          template:
            '<a href="#" onclick="redirectToClass(${ClassId})" class="underline">Class Details</a>',
          width: 150,
        },
      ],

      toolbar: ['ExcelExport'], // Add the ExcelExport button to the toolbar
      allowExcelExport: true, // Enable Excel export feature
      excelExportComplete: function (args) {},
    });

    grid.toolbarClick = function (args) {
      if (args['item'].id === 'Grid_excelexport') {
        grid.excelExport();
      }
    };
    // Add a click event handler for all buttons with the "btn" class
    document.addEventListener('click', function (event) {
      if (event.target.classList.contains('btn')) {
        const cellElement = event.target.closest('.e-rowcell');
        if (cellElement) {
          const dataUid = cellElement.parentElement.getAttribute('data-uid');
          if (dataUid) {
            const rowData = grid.getRowObjectFromUID(dataUid).data;
            if (rowData) {
              fetchClassPerformance(
                rowData.ClassId,
                rowData.Course,
                rowData.ClassName
              );
            }
          }
        }
      }
    });

    // Render the grid
    grid.appendTo('#grid-class');

    const filterbarOperator = new ej.buttons.CheckBox();
    filterbarOperator.appendTo('#filterBarOperator');

    filterbarOperator.addEventListener('change', function (args) {
      grid.filterSettings.showFilterBarOperator = args.checked;
      grid.clearFiltering();
    });
  }

  // Example function to show a modal when the "Performance" button is clicked

  fetchAllClass();
</script>

<!-- ADDING STUDENTS -->
<script>
  function redirectToClass(id) {
    console.log('ID REDIRECT: ', id);

    // Open link in a new tab
    window.open(`/university-admin/class/${id}`, '_blank');
  }

  async function submitClass(event) {
    event.preventDefault();

    const fileErrorElement = document.getElementById('class-file-error');
    const fileInput = document.getElementById('excelFile');
    const file = fileInput.files[0];
    // Get the exist
    const errorContainer = document.getElementById('errors');
    errorContainer.classList.add('hidden');

    // Remove all errors message in those element if not exist in curriculum, subject and course

    // Define the clearChildElements function
    function clearChildElements(element) {
      while (element.firstChild) {
        element.removeChild(element.firstChild);
      }
    }

    // Now you can use the function in your code
    const courseNotExistElement = document.getElementById(
      'course-not-exist-list-error'
    );
    if (courseNotExistElement) {
      clearChildElements(courseNotExistElement);
    }

    const curriculumNotExistElement = document.getElementById(
      'curriculum-not-exist-list-error'
    );
    if (curriculumNotExistElement) {
      clearChildElements(curriculumNotExistElement);
    }

    const classExistElement = document.getElementById('class-exist-list-error');
    if (classExistElement) {
      clearChildElements(classExistElement);
    }

    hideElement('class-error');
    hideElement('course-error');
    hideElement('curriculum-error');

    if (!file) {
      fileErrorElement.innerText = 'Please choose a file.';
      return;
    }

    if (!file.name.endsWith('.xlsx') && !file.name.endsWith('.xls')) {
      fileErrorElement.innerText =
        'Invalid file type. Please select an Excel file.';
      return;
    } else {
      fileErrorElement.innerText = '';
    }

    // If file type is valid, proceed with the API request
    const formData = new FormData();
    formData.append('excelFile', file);

    const apiUrlSubmitClass =
      "{{ url_for('university_admin_api.submitClass') }}";

    showLoadingModal('loadingModal');
    await fetch(apiUrlSubmitClass, {
      method: 'POST',
      body: formData,
    })
      .then((response) => response.json())
      .then((data) => {
        console.log('DATA: ', data);
        if (data.result) {
          notyf.success(data.result);
          // Get the grid datasource and concat the data.data
          const grid = document.getElementById('grid-class').ej2_instances[0];
          const dataSource = grid.dataSource;
          grid.dataSource = data.data.concat(dataSource);
          // add hidden in loadingModal
          loadingModal.classList.add('hidden');
          return;
        }

        if (data.warning) {
          notyf.open({
            type: 'warning',
            message: data.warning,
          });
          errorContainer.classList.remove('hidden');
          const grid = document.getElementById('grid-class').ej2_instances[0];
          const dataSource = grid.dataSource;
          grid.dataSource = data.data.concat(dataSource);

          if (data.errors.class_data_exist.length > 0) {
            showELement('class-error');

            handleListErrors(
              data.errors.class_data_exist,
              'class-exist-list-error'
            );
          }

          if (data.errors.curriculum_not_exist.length > 0) {
            showELement('curriculum-error');

            handleListErrors(
              data.errors.curriculum_not_exist,
              'curriculum-not-exist-list-error'
            );
          }

          if (data.errors.list_course_not_exist.length > 0) {
            showELement('course-error');
            // ccreate an error list
            data.errors.list_course_not_exist.forEach((error) => {
              const errorP = document.createElement('li');
              errorP.innerText = error;
              // create list in error
              courseNotExistElement.appendChild(errorP);
            });
          }
        }

        if (data.error) {
          notyf.error(data.error);
          errorContainer.classList.remove('hidden');

          if (data.errors.class_data_exist.length > 0) {
            showELement('class-error');

            handleListErrors(
              data.errors.class_data_exist,
              'class-exist-list-error'
            );
          }

          if (data.errors.curriculum_not_exist.length > 0) {
            showELement('curriculum-error');

            handleListErrors(
              data.errors.curriculum_not_exist,
              'curriculum-not-exist-list-error'
            );
          }

          if (data.errors.list_course_not_exist.length > 0) {
            showELement('course-error');
            // ccreate an error list
            data.errors.list_course_not_exist.forEach((error) => {
              const errorP = document.createElement('li');
              errorP.innerText = error;
              // create list in error
              courseNotExistElement.appendChild(errorP);
            });
          }
        }
      })
      .catch((error) => {
        console.log(error);
        notyf.error(error);
      })
      .finally(() => {
        closeLoadingModal('loadingModal');
      });
  }

  function handleListErrors(errors, elementId) {
    const element = document.getElementById(elementId);

    if (!element) {
      console.error(`Element with ID '${elementId}' not found.`);
      return;
    }

    errors.forEach((error) => {
      const semesterOrdinal = getOrdinal(error.Semester);
      const errorP = createErrorList(
        `${error.CourseCode} ${error.Year}-${error.Semester} (${error.Batch} - ${semesterOrdinal} Semester)`
      );
      element.appendChild(errorP);
    });
  }

  function getOrdinal(semester) {
    const suffixes = ['st', 'nd', 'rd'];
    const remainder = semester % 10;
    const suffix =
      remainder >= 1 &&
      remainder <= 3 &&
      semester !== 11 &&
      semester !== 12 &&
      semester !== 13
        ? suffixes[remainder - 1]
        : 'th';
    return `${semester}${suffix}`;
  }

  function createErrorList(text, type) {
    const errorP = document.createElement('li');
    errorP.innerText = text;
    return errorP;
  }
  function hideElement(elementId) {
    document.getElementById(elementId).classList.add('hidden');
  }

  function showELement(elementId) {
    document.getElementById(elementId).classList.remove('hidden');
  }
</script>
{% endblock script %}
