{% extends "universityadmin/layout.html" %} {% block title %}
<title>Class Subjects</title> {% endblock title %}
<!----------------- STYLE ----------------->
{% block style %}

<style>
  /* #lister_svg{
    background-color: aqua;
  
  }
   */
</style>
{% endblock style %}

<!----------------- CONTENT ----------------->
{% block content %}
<div class="grid grid-cols-6 grid-rows-11 gap-4 h-full overflow-auto p-4">
  <div class="bg-white p-8 shadow-md col-span-full">
    <div
      class="rounded-sm border border-stroke bg-white p-4 md:p-6 xl:p-7.5 shadow-sm"
    >
      <h3 class="text-2xl font-bold text-c4 mb-3 px-4" id="name-number">
        Class Subjects
      </h3>
      <h5 class="block font-bold text-lg mb-2 px-4 my-4">Class Details:</h5>
      <div class="grid grid-cols-2 gap-4 px-4 mb-4">
        <div>
          <p class="font-bold">Course:</p>
          <p class="font-normal" id="course"></p>
        </div>
        <div>
          <p class="font-bold">Semester:</p>
          <p class="font-normal" id="semester"></p>
        </div>
        <div>
          <p class="font-bold">Section Code:</p>
          <p class="font-normal" id="section-code"></p>
        </div>
        <div>
          <p class="font-bold">Year:</p>
          <p class="font-normal" id="year"></p>
        </div>
      </div>

      <hr class="mx-2" />

      <div>
        <form
          class="bg-white p-4 rounded-lg"
          enctype="multipart/form-data"
          onsubmit="submitStudentAllSubject(event)"
          method="POST"
          id="student-class-form"
        >
          <div class="mb-4">
            <h5 class="block font-bold text-lg mb-2">
              Add Student in all Subjects:
            </h5>
            <p class="font-semibold">
              Column Required:
              <span class="font-normal">Student Number</span>
            </p>
          </div>
          <div class="mb-4 flex gap-4">
            <input
              type="file"
              name="classStudentsExcel"
              id="classStudentsExcel"
              accept=".xlsx, .xls"
              class="bg-gray-200 rounded-lg py-2 px-4 w-1/2"
            />

            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg"
            >
              Upload Excel File
            </button>
          </div>
          <p id="class-file-error" class="text-c4 text-sm"></p>
          <div id="all-student-errors" class="hidden">
            <div>
              <p
                id="class-student-num-error"
                class="text-c1 text-xl font-semibold hidden"
              >
                Student Number not exist:
              </p>
              <ul
                id="class-student-num-list-error"
                class="text-c1 text-sm"
              ></ul>
            </div>

            <div>
              <p
                id="class-student-subject-error"
                class="text-c1 text-xl font-semibold hidden"
              >
                Student already exist in subject:
              </p>
              <ul
                id="class-student-subject-list-error"
                class="text-c1 text-sm"
              ></ul>
            </div>
          </div>
        </form>
      </div>

      <hr class="mx-2" />
      <div class="flex items-end justify-between">
        <div class="w-full bg-white p-4 mt-4">
          <div id="grid-class-subject"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- The Modal -->

<div
  id="studentListModal"
  class="modal hidden fixed inset-0 items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div
    class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"
    onclick="closeModal()"
  ></div>
  <!-- Modal Content -->
  <div
    class="modal-container bg-white p-8 rounded shadow-lg z-10 w-10/12 overflow-y-auto"
  >
    <!-- Modal Header -->
    <div class="modal-header overflow-y-auto">
      <div class="flex justify-between">
        <h2 class="text-c1 text-2xl font-semibold">Student List</h2>
        <button class="modal-close" onclick="closeModal()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
              fill="#000"
            />
          </svg>
        </button>
      </div>
      <div class="grid grid-cols-2 gap-8 px-4 mt-4">
        <div>
          <p class="font-bold">Subject:</p>
          <p class="font-normal" id="subject-modal"></p>
        </div>
        <div>
          <p class="font-bold">Teacher:</p>
          <p class="font-normal" id="teacher-modal"></p>
        </div>
        <div>
          <p class="font-bold">Section Code:</p>
          <p class="font-normal" id="section-code-modal"></p>
        </div>
        <div>
          <p class="font-bold">Semester:</p>
          <p class="font-normal" id="semester-modal"></p>
        </div>
      </div>

      <div>
        <div>
          <form
            class="bg-white rounded-lg mt-4 px-4 mb-8"
            enctype="multipart/form-data"
            onsubmit="submitStudents(event)"
            method="POST"
            id="student-class-form"
          >
            <div class="mb-4">
              <label
                for="studentSubjectExcel"
                class="block font-bold text-lg mb-2"
              >
                Add Student List:
                <span class="font-normal"
                  >Student Number (Column Required)</span
                >
              </label>
            </div>
            <div class="mb-4 flex gap-4">
              <input
                type="file"
                name="studentSubjectExcel"
                id="studentSubjectExcel"
                accept=".xlsx, .xls"
                class="bg-gray-200 rounded-lg py-2 px-4 w-1/2"
              />
              <button
                type="submit"
                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg"
              >
                Upload Excel File
              </button>
            </div>
            <p id="students-file-error" class="text-c4 text-sm"></p>
            <div id="errors" class="hidden">
              <div>
                <p
                  id="student-num-error"
                  class="text-c1 text-xl font-semibold hidden"
                >
                  Student Number not exist:
                </p>
                <ul id="student-num-list-error" class="text-c1 text-sm"></ul>
              </div>

              <div>
                <p
                  id="student-subject-error"
                  class="text-c1 text-xl font-semibold hidden"
                >
                  Student already exist in subject:
                </p>
                <ul
                  id="student-subject-list-error"
                  class="text-c1 text-sm"
                ></ul>
              </div>
            </div>
          </form>
        </div>
        <div class="grid grid-cols-1 mt-4">
          <div id="grid-student-list" class="overflow-y-auto"></div>
        </div>
      </div>
      <!-- Modal Body -->
      <div class="modal-body w-full relative"></div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div
    id="deleteModal"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden z-10"
  >
    <div class="bg-white p-8 rounded shadow-md">
      <p class="mb-4">Are you sure you want to remove this student?</p>
      <div class="flex justify-end">
        <button
          id="cancelBtn"
          class="mr-2 px-4 py-2 text-white bg-gray-600 rounded"
        >
          Cancel
        </button>
        <button
          id="confirmBtn"
          class="px-4 py-2 text-white bg-[#9D1D1D] rounded"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<div
  id="loadingModal"
  class="modal hidden fixed inset-0 items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"></div>
  <!-- Modal Content -->
  <div class="modal-container bg-white p-8 rounded shadow-lg z-10">
    <div class="modal-body w-full relative">
      <div class="flex flex-row gap-2">
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.7s]"
        ></div>
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.3s]"
        ></div>
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.7s]"
        ></div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- SCRIPTS DATA -->
{% block script %}

<script>
  var classSubjectId;
  var classId = '{{ class_id }}';
</script>

<script>
  async function submitStudentAllSubject(event) {
    event.preventDefault();
    console.log('SUBMITTING ALL STUDENTS');

    const fileErrorElement = document.getElementById('class-file-error');
    const fileInput = document.getElementById('classStudentsExcel');
    const file = fileInput.files[0];
    // Get the exist
    const errorContainer = document.getElementById('all-student-errors');
    errorContainer.classList.add('hidden');

    // Remove all errors message in those element if not exist in curriculum, subject and course

    // Define the clearChildElements function
    function clearChildElements(element) {
      while (element.firstChild) {
        element.removeChild(element.firstChild);
      }
    }

    // Now you can use the function in your code
    const courseNotExistElement = document.getElementById(
      'class-student-subject-list-error'
    );
    if (courseNotExistElement) {
      clearChildElements(courseNotExistElement);
    }

    const curriculumNotExistElement = document.getElementById(
      'class-student-num-list-error'
    );
    if (curriculumNotExistElement) {
      clearChildElements(curriculumNotExistElement);
    }

    hideElement('class-student-num-error');
    hideElement('class-student-subject-error');

    if (!file) {
      fileErrorElement.innerText = 'Please choose a file.';
      return;
    }

    if (!file.name.endsWith('.xlsx') && !file.name.endsWith('.xls')) {
      fileErrorElement.innerText =
        'Invalid file type. Please select an Excel file.';
      return;
    } else {
      fileErrorElement.innerText = '';
    }

    // If file type is valid, proceed with the API request
    const formData = new FormData();
    formData.append('classStudentsExcel', file);

    console.log('RUNNING BEFORE SUBMIT TO CLASS');

    const apiUrlSubmitClassStudent = `${api_base_url}/add/class-student/${classId}`;
    showLoadingModal('loadingModal');
    await fetch(apiUrlSubmitClassStudent, {
      method: 'POST',
      body: formData,
    })
      .then((response) => response.json())
      .then((data) => {
        // closeLoadingModal();
        console.log('DATA: ', data);
        if (data.result) {
          notyf.success(data.result);
          return;
        }
        //   // Get the grid datasource and concat the data.data
        //   const grid = document.getElementById('grid-class').ej2_instances[0];
        //   const dataSource = grid.dataSource;
        //   grid.dataSource = data.data.concat(dataSource);
        //   // add hidden in loadingModal
        //   loadingModal.classList.add('hidden');

        if (data.error) {
          errorContainer.classList.remove('hidden');
          if (data.errors.student_class_subject_exist.length > 0) {
            console.log(
              'STUDENT CLASS SUBJECT EXIST: ',
              data.errors.student_class_subject_exist
            );
            showELement('class-student-subject-error');

            const elementListError = document.getElementById(
              'class-student-subject-list-error'
            );

            data.errors.student_class_subject_exist.forEach((error) => {
              const errorP = createErrorList(
                `${error.StudentNumber} - ${error.SubjectCode}`
              );
              elementListError.appendChild(errorP);
            });
          }

          if (data.errors.student_number_not_exist.length > 0) {
            console.log(
              'STUDENT NOT EXIST: ',
              data.errors.student_number_not_exist
            );
            showELement('class-student-num-error');

            const elementListError = document.getElementById(
              'class-student-num-list-error'
            );

            data.errors.student_number_not_exist.forEach((error) => {
              console.log('ERROR: ', error);
              const errorP = createErrorList(
                `<span class="font-semibold">Student Number: </span>${error}`
              );
              elementListError.appendChild(errorP);
            });
          }
        }
      })
      .catch((error) => {
        console.log(error);
      })
      .finally(() => {
        closeLoadingModal('loadingModal');
      });
  }

  function handleListErrors(errors, elementId) {
    const element = document.getElementById(elementId);

    if (!element) {
      console.error(`Element with ID '${elementId}' not found.`);
      return;
    }

    errors.forEach((error) => {
      console.log('ERROR: ', error);
      const errorP = createErrorList(`Student Number: ${error.StudentNumber}`);
      element.appendChild(errorP);
    });
  }

  function createErrorList(text, type) {
    const errorP = document.createElement('li');
    errorP.innerHTML = text;
    return errorP;
  }
</script>

<!-- SUBMIT STUDENTS -->
<script>
  async function submitStudents(event) {
    event.preventDefault();
    console.log('SUBMITTING STUDENT IN CLASS ONLY');

    const fileErrorElement = document.getElementById('students-file-error');
    const fileInput = document.getElementById('studentSubjectExcel');
    const file = fileInput.files[0];

    // // Get the exist
    const errorContainer = document.getElementById('errors');
    errorContainer.classList.add('hidden');

    // Get class-header-error
    const headerErrorElement = document.getElementById('students-header-error');

    if (!file) {
      fileErrorElement.innerText = 'Please choose a file.';
      return;
    }

    if (!file.name.endsWith('.xlsx') && !file.name.endsWith('.xls')) {
      fileErrorElement.innerText =
        'Invalid file type. Please select an Excel file.';
      return;
    } else {
      fileErrorElement.innerText = '';
    }

    // If file type is valid, proceed with the API request
    const formData = new FormData();
    formData.append('studentSubjectExcel', file);

    // Clear student-not-exist-error and student-subject-exist-error lists
    clearErrorList('student-num-list-error');
    clearErrorList('student-subject-list-error');

    // Hide student-num-error and student-subject-error elements
    hideElement('student-num-error');
    hideElement('student-subject-error');
    showLoadingModal('loadingModal');
    fetch(`${api_base_url}/submit/students-subject/${classSubjectId}`, {
      method: 'POST',
      body: formData,
    })
      .then((response) => response.json())
      .then((data) => {
        // Handle API response here
        console.log('RESULT: ', data);

        if (data.error) {
          errorContainer.classList.remove('hidden');
          notyf.error(data.error);

          if (data.error_data.student_not_exist.length != 0) {
            handleError(
              data.error_data.student_not_exist,
              'student-num-error',
              'student-num-list-error'
            );
          }

          if (data.error_data.student_subject_exist.length != 0) {
            handleError(
              data.error_data.student_subject_exist,
              'student-subject-error',
              'student-subject-list-error'
            );
          }
        }

        if (data.warning) {
          errorContainer.classList.remove('hidden');
          notyf.open({
            type: 'warning',
            message: data.warning,
          });

          if (data.error_data.student_not_exist.length != 0) {
            handleError(
              data.error_data.student_not_exist,
              'student-num-error',
              'student-num-list-error'
            );
          }

          if (data.error_data.student_subject_exist.length != 0) {
            handleError(
              data.error_data.student_subject_exist,
              'student-subject-error',
              'student-subject-list-error'
            );
          }

          if (data.added) {
            // Nothing to do
            gridAddData(data.added, classSubjectId);
          }
        }

        if (data.success) {
          notyf.success(data.success);
          gridAddData(data.data, classSubjectId);
        }
      })
      .catch((error) => {
        console.log('DATA ON ERROR: ', error);
        notyf.error(error);
      })
      .finally(() => {
        closeLoadingModal('loadingModal');
      });
  }

  function gridAddData(data) {
    const grid = document.getElementById(`grid-${classSubjectId}`)
      .ej2_instances[0];
    data.forEach((student) => {
      grid.dataSource = grid.dataSource.concat(student);
    });
    grid.refresh();
  }

  function handleError(error, pElement, listElement) {
    const pTextElement = document.getElementById(pElement);
    pTextElement.classList.remove('hidden');

    const listErrorElement = document.getElementById(listElement);
    // Remove all child nodes (content) inside #student-not-exist-error
    while (listErrorElement.firstChild) {
      listErrorElement.removeChild(listErrorElement.firstChild);
    }
    // For each error make a p element that will have a text of data.error_data.student_not_exist
    error.forEach((studentNumber) => {
      const p = document.createElement('p');
      p.innerText = `${studentNumber}`;
      listErrorElement.appendChild(p);
    });
  }

  function clearErrorList(listId) {
    const listElement = document.getElementById(listId);
    // Remove all child nodes (content) inside the list
    while (listElement.firstChild) {
      listElement.removeChild(listElement.firstChild);
    }
  }

  function hideElement(elementId) {
    const element = document.getElementById(elementId);
    element.classList.add('hidden');
  }
</script>

<!-- FETCH CLASS PERFORMANCE (CHART) -->
<script>
  fetchClassDetails();
  fetchClassSubject();

  async function fetchClassSubject() {
    try {
      const response = await fetch(`${api_base_url}/class/${classId}`);

      if (!response.ok) {
        throw new Error(
          `Failed to fetch data. Try to contact the admin to resolve the issue.`
        );
      }

      const json_class = await response.json();
      const teacher_data = await fetchActiveTeacher();
      displayGridClassSubject(json_class.data, teacher_data);
    } catch (error) {
      console.log(error);
    }
  }

  async function fetchActiveTeacher() {
    try {
      const response = await fetch(`${api_base_url}/active/teacher`);

      if (!response.ok) {
        throw new Error(
          `Failed to fetch data. Try to contact the admin to resolve the issue.`
        );
      }

      const json_teacher = await response.json();
      // If json teacher return json_teacher.data else empty array
      const teacherData = json_teacher ? json_teacher.data : [];
      return teacherData;
    } catch (error) {
      console.log(error);
    }
  }

  async function fetchSubjectDetails(classSubjectId) {
    try {
      const response = await fetch(
        `${api_base_url}/class/subject/${classSubjectId}`
      );

      if (!response.ok) {
        throw new Error(
          `Failed to fetch data. Try to contact the admin to resolve the issue.`
        );
      }

      const json_class = await response.json();
      displayGridClassSubject(json_class.data);
    } catch (error) {}
  }

  async function fetchClassDetails() {
    try {
      const response = await fetch(`${api_base_url}/class/details/${classId}`);

      if (!response.ok) {
        throw new Error(
          `Failed to fetch data. Try to contact the admin to resolve the issue.`
        );
      }

      const json_class = await response.json();

      // Check if json_class then get the section-code, course, and year
      if (json_class) {
        document.getElementById('section-code').innerHTML =
          json_class.data['Section Code'];
        document.getElementById('course').innerHTML = json_class.data['Course'];
        document.getElementById('year').innerHTML = json_class.data['Batch'];
        document.getElementById('semester').innerHTML =
          json_class.data['Semester'];

        document.getElementById('semester-modal').innerHTML =
          json_class.data['Semester'];
        document.getElementById('section-code-modal').innerHTML =
          json_class.data['Section Code'];
      }
    } catch (error) {}
  }

  async function fetchStudents(data) {
    console.log('FETCH THIS: ', data);
    // Get teacher, subject, semester and update its value
    document.getElementById('teacher-modal').innerHTML = data.teacher
      ? data.teacher
      : 'No assigned teacher yet';
    document.getElementById('subject-modal').innerHTML = data.subject;

    try {
      const response = await fetch(
        `${api_base_url}/class/subject/${data.classSubjectId}`
      );

      if (!response.ok) {
        throw new Error(
          `Failed to fetch data. Try to contact the admin to resolve the issue.`
        );
      }

      console.log('HERE ALREADY');

      const json_class = await response.json();
      if (json_class) {
        // Get studentListModal
        // Clear student-not-exist-error and student-subject-exist-error lists
        clearErrorList('student-num-list-error');
        clearErrorList('student-subject-list-error');

        // Hide student-num-error and student-subject-error elements
        hideElement('student-num-error');
        hideElement('student-subject-error');
        document.getElementById('studentSubjectExcel').value = '';

        const modal = document.getElementById('studentListModal');
        // Remove hidden
        modal.classList.add('flex');
        modal.classList.remove('hidden');
        classSubjectId = data.classSubjectId;
        displayGridStudentList(json_class.data, classSubjectId);
      }
    } catch (error) {}
  }

  async function deleteStudent(classSubjectId, studentId) {
    console.log('CONFIRM DELETE: ', classSubjectId, studentId);
    fetch(
      `${api_base_url}/delete/class-subject/${classSubjectId}/student/${studentId}`,
      {
        method: 'POST',
      }
    )
      .then((response) => response.json())
      .then((data) => {
        console.log('Server response:', data);
        // If success throw notyf showing the data.result
        if (data.result) {
          notyf.success(data.result);
          // Remove the data from grid data source
          const grid = document.getElementById(`grid-${classSubjectId}`)
            .ej2_instances[0];
          const dataSource = grid.dataSource;
          for (let i = 0; i < dataSource.length; i++) {
            if (dataSource[i].StudentId === studentId) {
              dataSource.splice(i, 1);
              break;
            }
          }
          grid.refresh();
        }
      })
      .catch((error) => {
        console.error('Error:', error);
        // Handle errors if needed
      });
  }

  function displayGridClassSubject(json_class, teacherData) {
    console.log('json_class: ', json_class);
    // Create the grid with filtering
    var grid = new ej.grids.Grid({
      dataSource: json_class,
      allowPaging: true,
      allowFiltering: true,
      allowSorting: true, // Enable sorting
      allowExcelExport: true,
      editSettings: {
        allowEditing: true,
        allowAdding: false,
        allowDeleting: false,
        allowExcelExport: true,
        mode: 'Batch', // Set the edit mode to 'Normal'
      },

      // rowData: json_class['ClassSubjectGrade'],
      columns: [
        {
          field: 'SubjectCode',
          headerText: 'Subject Code',
          width: 100,
          isPrimaryKey: true, // Make this column a primary key
        },
        {
          field: 'Subject',
          headerText: 'Code',
          width: 250,
          allowEditing: false,
        },
        {
          field: 'TeacherId', // Assuming 'TeacherId' is the property in your data for the Teacher
          headerText: 'Teacher',
          width: 150,
          editType: 'dropdownedit', // Set the edit type to 'dropdownedit'
          dataSource: teacherData, // Provide the dataSource for the dropdown
          foreignKeyField: 'TeacherId', // The field to be mapped from the dataSource
          foreignKeyValue: 'TeacherName', // The field to be displayed in the dropdown
        },
        {
          field: 'Schedule',
          headerText: 'Schedule',
          width: 150,
          editType: 'stringedit', // Set the edit type to 'stringedit'
        },
        {
          field: 'Grade',
          headerText: 'GWA (Class)',
          width: 100,
          allowEditing: false,
        },
        {
          headerText: 'Actions',
          template:
            '<button class="btn px-4 py-2 bg-primary text-white font-bold" >View Students</button>', // Add a button to the cell
          width: 150,
          allowEditing: false,
        },
      ],

      toolbar: ['ExcelExport', 'Update', 'Cancel'],
      excelExportComplete: function (args) {},
      actionComplete: function (args) {
        console.log(args);

        if (args.requestType === 'batchsave') {
          const list_data = [];

          args.rows.forEach((element) => {
            list_data.push(element.data);
          });

          updateGridDataChanges(list_data);
        }
      },
    });

    grid.toolbarClick = function (args) {
      if (args['item'].id === 'grid-class-subject_excelexport') {
        grid.excelExport();
      }
    };

    // Add a click event handler for all buttons with the "btn" class
    document.addEventListener('click', function (event) {
      if (event.target.classList.contains('btn')) {
        const cellElement = event.target.closest('.e-rowcell');
        if (cellElement) {
          const dataUid = cellElement.parentElement.getAttribute('data-uid');
          if (dataUid) {
            const rowData = grid.getRowObjectFromUID(dataUid).data;
            if (rowData) {
              // Find TeacherName in teacherData using rowData.TeacherId
              const teacherName = rowData
                ? (
                    teacherData.find(
                      (teacher) => teacher.TeacherId === rowData.TeacherId
                    ) || {}
                  ).TeacherName
                : null;

              fetchStudents({
                classSubjectId: rowData.ClassSubjectId,
                subject: rowData.Subject,
                teacher: teacherName,
              });
            }
          }
        }
      }
    });

    // Render the grid
    grid.appendTo('#grid-class-subject');

    const filterbarOperator = new ej.buttons.CheckBox();
    filterbarOperator.appendTo('#filterBarOperator');

    filterbarOperator.addEventListener('change', function (args) {
      grid.filterSettings.showFilterBarOperator = args.checked;
      grid.clearFiltering();
    });
  }

  // Function to save changes to the server
  function updateGridDataChanges(updatedRecords) {
    console.log('updatedRecords: ', updatedRecords);
    // Make a POST request to the Flask server
    fetch(`${api_base_url}/update/class-subject`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(updatedRecords),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log('Server response:', data);
        // If success throw notyf showing the data.result
        if (data.result) {
          notyf.success(data.result);
          return;
        }
      })
      .catch((error) => {
        console.error('Error:', error);
        // Handle errors if needed
      });
  }

  function displayGridStudentList(json_student_list, classSubjectId) {
    // Check the length of json_student_list if 0 assign an empty array else put the json_student_list in dataSource of grid
    var data = json_student_list.length === 0 ? [] : json_student_list;

    var grid = new ej.grids.Grid({
      dataSource: data,
      allowPaging: true,
      allowFiltering: true,
      allowSorting: true, // Enable sorting
      allowExcelExport: true,
      pageSettings: { pageSize: 5 }, // Set the page size
      // rowData: json_class['ClassSubjectGrade'],
      columns: [
        {
          field: 'StudentNumber',
          headerText: 'Student Number',
          width: 150,
        },
        {
          field: 'Name',
          headerText: 'Name',
          width: 150,
        },
        {
          field: 'Email',
          headerText: 'Email',
          width: 200,
        },
        {
          field: 'Grade',
          headerText: 'Grade',
          width: 70,
        },
        {
          headerText: 'Actions',
          template:
            '<button class="btn-delete px-4 py-2 bg-c5 text-white font-bold" >Delete</button>', // Add a button to the cell
          width: 150,
          allowEditing: false,
        },
      ],

      toolbar: ['ExcelExport'], // Add the ExcelExport button to the toolbar
      allowExcelExport: true, // Enable Excel export feature
      excelExportComplete: function (args) {},
    });

    // Add a click event handler for all buttons with the "btn" class
    document.addEventListener('click', function (event) {
      if (event.target.classList.contains('btn-delete')) {
        const cellElement = event.target.closest('.e-rowcell');
        if (cellElement) {
          const dataUid = cellElement.parentElement.getAttribute('data-uid');
          if (dataUid) {
            const rowData = grid.getRowObjectFromUID(dataUid).data;
            if (rowData) {
              const deleteModal = document.getElementById('deleteModal');
              deleteModal.classList.remove('hidden');
              deleteModal.classList.add('flex');

              const confirmBtn = document.getElementById('confirmBtn');
              const cancelBtn = document.getElementById('cancelBtn');

              confirmBtn.onclick = () => {
                deleteStudent(rowData.ClassSubjectId, rowData.StudentId);
                deleteModal.classList.add('hidden');
              };
              cancelBtn.onclick = () => {
                deleteModal.classList.add('hidden');
              };
            }
          }
        }
      }
    });

    grid.toolbarClick = function (args) {
      if (args['item'].id === 'Grid_excelexport') {
        grid.excelExport();
      }
    };

    const gridStudentList = document.getElementById('grid-student-list');
    const newDivElement = document.createElement('div');
    newDivElement.id = `grid-${classSubjectId}`;
    // append
    gridStudentList.appendChild(newDivElement);
    grid.appendTo(`#grid-${classSubjectId}`);

    const filterbarOperator = new ej.buttons.CheckBox();
    filterbarOperator.appendTo('#filterBarOperator');

    filterbarOperator.addEventListener('change', function (args) {
      grid.filterSettings.showFilterBarOperator = args.checked;
      grid.clearFiltering();
    });
  }

  // JavaScript function to close the modal and remove content
  function closeModal() {
    // Get the #grid-student-list element
    var gridStudentList = document.getElementById('grid-student-list');
    // remove the child of gridStudentList
    while (gridStudentList.firstChild) {
      gridStudentList.removeChild(gridStudentList.firstChild);
    }

    // Hide the modal
    document.getElementById('studentListModal').classList.add('hidden');
  }

  function hideElement(elementId) {
    document.getElementById(elementId).classList.add('hidden');
  }

  function showELement(elementId) {
    document.getElementById(elementId).classList.remove('hidden');
  }
</script>

{% endblock script %}
