{% extends "universityadmin/layout.html" %} {% block title %}
<title>Class Subjects</title> {% endblock title %}
<!----------------- STYLE ----------------->
{% block style %}

<style>
  /* #lister_svg{
    background-color: aqua;
  
  }
   */
</style>
{% endblock style %}

<!----------------- CONTENT ----------------->
{% block content %}
<div class="grid grid-cols-6 grid-rows-11 gap-4 h-full overflow-auto">
  <div class="p-4 col-span-full">
    <div
      class="rounded-sm border border-stroke bg-white p-4 md:p-6 xl:p-7.5 shadow-sm"
    >
      <h3 class="text-2xl font-bold text-c4 mb-3 px-4" id="name-number">
        Class Subjects
      </h3>
      <h5 class="block font-bold text-lg mb-2 px-4 my-4">Class Details:</h5>
      <div class="grid grid-cols-2 gap-4 px-4 mb-4">
        <div>
          <p class="font-bold">Course:</p>
          <p class="font-normal" id="course"></p>
        </div>
        <div>
          <p class="font-bold">Semester:</p>
          <p class="font-normal" id="semester"></p>
        </div>
        <div>
          <p class="font-bold">Section Code:</p>
          <p class="font-normal" id="section-code"></p>
        </div>
        <div>
          <p class="font-bold">Year:</p>
          <p class="font-normal" id="year"></p>
        </div>
      </div>

      <hr class="mx-2" />

      <div>
        <form
          class="bg-white p-4 rounded-lg"
          enctype="multipart/form-data"
          onsubmit="submitStudentAllSubject(event)"
          method="POST"
          id="student-class-form"
        >
          <div class="mb-4">
            <h5 class="block font-bold text-lg mb-2">
              Add Student in all Subjects:
            </h5>
            <p class="font-semibold">
              Column Required:
              <span class="font-normal">Student Number, Date Enrolled</span>
            </p>
          </div>
          <div class="mb-4 flex gap-4">
            <input
              type="file"
              name="classStudentsExcel"
              id="classStudentsExcel"
              accept=".xlsx, .xls"
              class="bg-gray-200 rounded-lg py-2 px-4 w-1/2"
            />

            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg"
            >
              Upload Excel File
            </button>
          </div>
          <p id="class-file-error" class="text-c4 text-sm"></p>
        </form>
      </div>

      <hr class="mx-2" />
      <div class="flex items-end justify-between">
        <div class="w-full bg-white p-4 mt-4">
          <div id="grid-class-subject"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- The Modal -->

<div
  id="studentListModal"
  class="modal hidden fixed inset-0 items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div
    class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"
    onclick="closeStudentSubjectsModal()"
  ></div>
  <!-- Modal Content -->
  <div
    class="modal-container bg-white p-8 rounded shadow-lg z-10 w-10/12 overflow-y-auto"
  >
    <!-- Modal Header -->
    <div class="modal-header overflow-y-auto">
      <div class="flex justify-between">
        <h2 class="text-c1 text-2xl font-semibold">Student List</h2>
        <button class="modal-close" onclick="closeStudentSubjectsModal()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
              fill="#000"
            />
          </svg>
        </button>
      </div>
      <div class="grid grid-cols-2 gap-8 px-4 mt-4">
        <div>
          <p class="font-bold">Subject:</p>
          <p class="font-normal" id="subject-modal"></p>
        </div>
        <div>
          <p class="font-bold">Teacher:</p>
          <p class="font-normal" id="teacher-modal"></p>
        </div>
        <div>
          <p class="font-bold">Section Code:</p>
          <p class="font-normal" id="section-code-modal"></p>
        </div>
        <div>
          <p class="font-bold">Semester:</p>
          <p class="font-normal" id="semester-modal"></p>
        </div>
      </div>

      <div>
        <div>
          <form
            class="bg-white rounded-lg mt-4 px-4 mb-8 overflow-y-auto"
            enctype="multipart/form-data"
            onsubmit="submitStudents(event)"
            method="POST"
            id="student-class-form"
          >
            <div class="mb-4">
              <label
                for="studentSubjectExcel"
                class="block font-bold text-lg mb-2"
              >
                Add Student List:
                <span class="font-normal"
                  >Student Number (Column Required)</span
                >
              </label>
            </div>
            <div class="mb-4 flex gap-4">
              <input
                type="file"
                name="studentSubjectExcel"
                id="studentSubjectExcel"
                accept=".xlsx, .xls"
                class="bg-gray-200 rounded-lg py-2 px-4 w-1/2"
              />
              <button
                type="submit"
                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg"
              >
                Upload Excel File
              </button>
            </div>
            <p id="students-file-error" class="text-c4 text-sm"></p>
          </form>
        </div>
        <div class="grid grid-cols-1 mt-4 overflow-y-auto">
          <div id="grid-student-list" class="overflow-y-auto"></div>
        </div>
      </div>
      <!-- Modal Body -->
      <div class="modal-body w-full relative"></div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div
    id="deleteModal"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden z-10"
  >
    <div class="bg-white p-8 rounded shadow-md">
      <p class="mb-4">Are you sure you want to remove this student?</p>
      <div class="flex justify-end">
        <button
          id="cancelBtn"
          class="mr-2 px-4 py-2 text-white bg-gray-600 rounded"
        >
          Cancel
        </button>
        <button
          id="confirmBtn"
          class="px-4 py-2 text-white bg-[#9D1D1D] rounded"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<div
  id="loadingModal"
  class="modal hidden fixed inset-0 items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"></div>
  <!-- Modal Content -->
  <div class="modal-container bg-white p-8 rounded shadow-lg z-10">
    <div class="modal-body w-full relative">
      <div class="flex flex-row gap-2">
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.7s]"
        ></div>
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.3s]"
        ></div>
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.7s]"
        ></div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL FOR ADDING STUDENT IN ALL CLASS ERROR -->
<div
  id="addingClassStudentErrorModal"
  class="modal hidden fixed inset-0 flex items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div
    class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"
    onclick="closeModalError('addingClassStudentErrorModal', 'grid-error-student-class-list')"
  ></div>
  <!-- Modal Content -->
  <div
    class="modal-container bg-white p-8 rounded shadow-lg z-10 w-10/12 overflow-y-auto"
  >
    <!-- Modal Header -->
    <div class="modal-header overflow-y-auto">
      <div class="flex justify-between">
        <h2 class="text-c1 text-2xl font-semibold">
          Adding Students Error List
        </h2>
        <button
          class="modal-close"
          onclick="closeModalError('addingClassStudentErrorModal', 'grid-error-student-class-list')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
              fill="#000"
            />
          </svg>
        </button>
      </div>

      <div class="modal-body w-full relative mt-8">
        <div id="grid-error-student-class-list" class="overflow-y-auto">
          <!-- This is the content of modal -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL FOR ADDING SUBJECTS IN ALL CLASS ERROR -->
<div
  id="addingSubjectStudentErrorModal"
  class="modal hidden fixed inset-0 flex items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div
    class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"
    onclick="closeModalError('addingSubjectStudentErrorModal', 'grid-error-student-subject-list')"
  ></div>
  <!-- Modal Content -->
  <div
    class="modal-container bg-white p-8 rounded shadow-lg z-10 w-10/12 overflow-y-auto"
  >
    <!-- Modal Header -->
    <div class="modal-header overflow-y-auto">
      <div class="flex justify-between">
        <h2 class="text-c1 text-2xl font-semibold">
          Adding Students Error List
        </h2>
        <button
          class="modal-close"
          onclick="closeModalError('addingSubjectStudentErrorModal', 'grid-error-student-subject-list')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
              fill="#000"
            />
          </svg>
        </button>
      </div>

      <div class="modal-body w-full relative mt-8">
        <div id="grid-error-student-subject-list" class="overflow-y-auto">
          <!-- This is the content of modal -->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- SCRIPTS DATA -->
{% block script %}

<script>
  var classSubjectId;
  var classId = '{{ class_id }}';
</script>

<script>
  async function submitStudentAllSubject(event) {
    event.preventDefault();
    console.log('GHELLO');
    const fileErrorElement = document.getElementById('class-file-error');
    const fileInput = document.getElementById('classStudentsExcel');
    const file = fileInput.files[0];

    if (!file) {
      fileErrorElement.innerText = 'Please choose a file.';
      return;
    }

    if (!file.name.endsWith('.xlsx') && !file.name.endsWith('.xls')) {
      fileErrorElement.innerText =
        'Invalid file type. Please select an Excel file.';
      return;
    } else {
      fileErrorElement.innerText = '';
    }

    // If file type is valid, proceed with the API request
    const formData = new FormData();
    formData.append('classStudentsExcel', file);

    const apiUrlSubmitClassStudent = `${api_base_url}/add/class-student/${classId}`;
    try {
      showModal('loadingModal');
      fetch(apiUrlSubmitClassStudent, {
        method: 'POST',
        body: formData,
      })
        .then((response) => response.json())
        .then((data) => {
          handleDataSubmitResults(
            data,
            fileInput,
            displaySubmitErrorClassStudents,
            'addingClassStudentErrorModal'
          );
        })
        .catch((error) => {
          console.error('Error:', error);
        })
        .finally(() => {
          closeModal('loadingModal');
        });
    } catch (error) {
      console.error('Error:', error);
    }
  }

  function displaySubmitErrorClassStudents(students) {
    var grid = new ej.grids.Grid({
      dataSource: students,
      allowPaging: true,
      allowFiltering: true,
      allowSorting: true, // Enable sorting
      allowExcelExport: true,
      pageSettings: { pageSize: 10 }, // Set the page size
      // rowData: json_class['ClassSubjectGrade'],
      columns: [
        {
          field: 'StudentNumber',
          headerText: 'Student Number',
          width: 100,
        },
        {
          field: 'DateEnrolled',
          headerText: 'Date Enrolled',
          width: 100,
        },
        {
          field: 'Error',
          headerText: 'Error',
          width: 150,
        },
      ],

      toolbar: ['ExcelExport'], // Add the ExcelExport button to the toolbar
      allowExcelExport: true, // Enable Excel export feature
    });

    grid.toolbarClick = function (args) {
      if (args['item'].id === 'grid-error-student-class-list_excelexport') {
        grid.excelExport();
      }
    };

    // Render the grid
    grid.appendTo('#grid-error-student-class-list');

    const filterbarOperator = new ej.buttons.CheckBox();
    filterbarOperator.appendTo('#filterBarOperator');

    filterbarOperator.addEventListener('change', function (args) {
      grid.filterSettings.showFilterBarOperator = args.checked;
      grid.clearFiltering();
    });
  }
</script>

<!-- SUBMIT STUDENTS  IN SUBJECTS-->
<script>
  async function submitStudents(event) {
    event.preventDefault();

    const fileErrorElement = document.getElementById('students-file-error');
    const fileInput = document.getElementById('studentSubjectExcel');
    const file = fileInput.files[0];

    if (!file) {
      fileErrorElement.innerText = 'Please choose a file.';
      return;
    }

    if (!file.name.endsWith('.xlsx') && !file.name.endsWith('.xls')) {
      fileErrorElement.innerText =
        'Invalid file type. Please select an Excel file.';
      return;
    } else {
      fileErrorElement.innerText = '';
    }

    // If file type is valid, proceed with the API request
    const formData = new FormData();
    formData.append('studentSubjectExcel', file);

    // Clear student-not-exist-error and student-subject-exist-error lists

    showModal('loadingModal');
    fetch(`${api_base_url}/submit/students-subject/${classSubjectId}`, {
      method: 'POST',
      body: formData,
    })
      .then((response) => response.json())
      .then((data) => {
        handleDataSubmitResults(
          data,
          fileInput,
          displaySubmitErrorSubjectStudents,
          'addingSubjectStudentErrorModal',
          `grid-${classSubjectId}` // Where it should be added the data
        );
      })
      .catch((error) => {
        notyf.error(error);
      })
      .finally(() => {
        closeModal('loadingModal');
      });
  }

  function displaySubmitErrorSubjectStudents(students) {
    var grid = new ej.grids.Grid({
      dataSource: students,
      allowPaging: true,
      allowFiltering: true,
      allowSorting: true, // Enable sorting
      allowExcelExport: true,
      pageSettings: { pageSize: 10 }, // Set the page size
      // rowData: json_class['ClassSubjectGrade'],
      columns: [
        {
          field: 'StudentNumber',
          headerText: 'Student Number',
          width: 100,
        },
        {
          field: 'DateEnrolled',
          headerText: 'Date Enrolled',
          width: 100,
        },
        {
          field: 'Error',
          headerText: 'Error',
          width: 150,
        },
      ],

      toolbar: ['ExcelExport'], // Add the ExcelExport button to the toolbar
      allowExcelExport: true, // Enable Excel export feature
    });

    grid.toolbarClick = function (args) {
      if (args['item'].id === 'grid-error-student-subject-list_excelexport') {
        grid.excelExport();
      }
    };

    // Render the grid
    grid.appendTo('#grid-error-student-subject-list');

    const filterbarOperator = new ej.buttons.CheckBox();
    filterbarOperator.appendTo('#filterBarOperator');

    filterbarOperator.addEventListener('change', function (args) {
      grid.filterSettings.showFilterBarOperator = args.checked;
      grid.clearFiltering();
    });
  }

  function gridAddData(data) {
    const grid = document.getElementById(`grid-${classSubjectId}`)
      .ej2_instances[0];
    data.forEach((student) => {
      grid.dataSource = grid.dataSource.concat(student);
    });
    grid.refresh();
  }

  function handleError(error, pElement, listElement) {
    const pTextElement = document.getElementById(pElement);
    pTextElement.classList.remove('hidden');

    const listErrorElement = document.getElementById(listElement);
    // Remove all child nodes (content) inside #student-not-exist-error
    while (listErrorElement.firstChild) {
      listErrorElement.removeChild(listErrorElement.firstChild);
    }
    // For each error make a p element that will have a text of data.error_data.student_not_exist
    error.forEach((studentNumber) => {
      const p = document.createElement('p');
      p.innerText = `${studentNumber}`;
      listErrorElement.appendChild(p);
    });
  }

  function clearErrorList(listId) {
    const listElement = document.getElementById(listId);
    // Remove all child nodes (content) inside the list
    while (listElement.firstChild) {
      listElement.removeChild(listElement.firstChild);
    }
  }

  function hideElement(elementId) {
    const element = document.getElementById(elementId);
    element.classList.add('hidden');
  }
</script>

<!-- FETCH CLASS PERFORMANCE (CHART) -->
<script>
  fetchClassDetails();
  fetchClassSubject();

  async function fetchClassSubject() {
    try {
      const response = await fetch(`${api_base_url}/class/${classId}`);

      if (!response.ok) {
        throw new Error(
          `Failed to fetch data. Try to contact the admin to resolve the issue.`
        );
      }

      const json_class = await response.json();
      const teacher_data = await fetchActiveTeacher();
      displayGridClassSubject(json_class.data, teacher_data);
    } catch (error) {
      console.log(error);
    }
  }

  async function fetchActiveTeacher() {
    try {
      const response = await fetch(`${api_base_url}/active/teacher`);

      if (!response.ok) {
        throw new Error(
          `Failed to fetch data. Try to contact the admin to resolve the issue.`
        );
      }

      const json_teacher = await response.json();
      // If json teacher return json_teacher.data else empty array
      const teacherData = json_teacher ? json_teacher.data : [];
      return teacherData;
    } catch (error) {
      console.log(error);
    }
  }

  async function fetchSubjectDetails(classSubjectId) {
    try {
      const response = await fetch(
        `${api_base_url}/class/subject/${classSubjectId}`
      );

      if (!response.ok) {
        throw new Error(
          `Failed to fetch data. Try to contact the admin to resolve the issue.`
        );
      }

      const json_class = await response.json();
      displayGridClassSubject(json_class.data);
    } catch (error) {}
  }

  async function fetchClassDetails() {
    try {
      const response = await fetch(`${api_base_url}/class/details/${classId}`);

      if (!response.ok) {
        throw new Error(
          `Failed to fetch data. Try to contact the admin to resolve the issue.`
        );
      }

      const json_class = await response.json();

      // Check if json_class then get the section-code, course, and year
      if (json_class) {
        document.getElementById('section-code').innerHTML =
          json_class.data['Section Code'];
        document.getElementById('course').innerHTML = json_class.data['Course'];
        document.getElementById('year').innerHTML = json_class.data['Batch'];
        document.getElementById('semester').innerHTML =
          json_class.data['Semester'];

        document.getElementById('semester-modal').innerHTML =
          json_class.data['Semester'];
        document.getElementById('section-code-modal').innerHTML =
          json_class.data['Section Code'];
      }
    } catch (error) {}
  }

  async function deleteStudent(classSubjectId, studentId) {
    fetch(
      `${api_base_url}/delete/class-subject/${classSubjectId}/student/${studentId}`,
      {
        method: 'POST',
      }
    )
      .then((response) => response.json())
      .then((data) => {
        // If success throw notyf showing the data.result
        if (data.result) {
          notyf.success(data.result);
          // Remove the data from grid data source
          const grid = document.getElementById(`grid-${classSubjectId}`)
            .ej2_instances[0];
          const dataSource = grid.dataSource;
          for (let i = 0; i < dataSource.length; i++) {
            if (dataSource[i].StudentId === studentId) {
              dataSource.splice(i, 1);
              break;
            }
          }
          grid.refresh();
        }
      })
      .catch((error) => {
        console.error('Error:', error);
        // Handle errors if needed
      })
      .finally(() => {
        closeModal('loadingModal');
      });
  }

  function displayGridClassSubject(json_class, teacherData) {
    // Create the grid with filtering
    var grid = new ej.grids.Grid({
      dataSource: json_class,
      allowPaging: true,
      // allowFiltering: true,
      allowSorting: true, // Enable sorting
      allowExcelExport: true,
      toolbar: ['ExcelExport'],
      editSettings: {
        allowEditing: true,
        allowAdding: false,
        allowDeleting: false,
        allowExcelExport: true,
        mode: 'Batch', // Set the edit mode to 'Normal'
      },

      // rowData: json_class['ClassSubjectGrade'],
      columns: [
        {
          field: 'SubjectCode',
          headerText: 'Subject Code',
          width: 100,
          isPrimaryKey: true, // Make this column a primary key
        },
        {
          field: 'Subject',
          headerText: 'Code',
          width: 250,
          allowEditing: false,
        },
        {
          field: 'TeacherId', // Assuming 'TeacherId' is the property in your data for the Teacher
          headerText: 'Teacher',
          width: 150,
          editType: 'dropdownedit', // Set the edit type to 'dropdownedit'
          dataSource: teacherData, // Provide the dataSource for the dropdown
          foreignKeyField: 'TeacherId', // The field to be mapped from the dataSource
          foreignKeyValue: 'TeacherName', // The field to be displayed in the dropdown
        },
        {
          field: 'Schedule',
          headerText: 'Schedule',
          width: 150,
          editType: 'stringedit', // Set the edit type to 'stringedit'
        },
        {
          field: 'Grade',
          headerText: 'GWA (Class)',
          width: 100,
          allowEditing: false,
        },
        {
          headerText: 'Actions',
          template:
            '<button class="btn px-4 py-2 bg-primary text-white font-bold" >View Students</button>', // Add a button to the cell
          width: 150,
          allowEditing: false,
        },
      ],

      excelExportComplete: function (args) {},
      actionComplete: function (args) {
        if (args.requestType === 'batchsave') {
          const list_data = [];

          args.rows.forEach((element) => {
            list_data.push(element.data);
          });

          updateGridDataChanges(list_data);
        }
      },
    });

    grid.toolbarClick = function (args) {
      if (args['item'].id === 'grid-class-subject_excelexport') {
        grid.excelExport();
      }
    };

    // Add a click event handler for all buttons with the "btn" class
    document.addEventListener('click', function (event) {
      if (event.target.classList.contains('btn')) {
        const cellElement = event.target.closest('.e-rowcell');
        if (cellElement) {
          const dataUid = cellElement.parentElement.getAttribute('data-uid');
          if (dataUid) {
            const rowData = grid.getRowObjectFromUID(dataUid).data;
            if (rowData) {
              // Find TeacherName in teacherData using rowData.TeacherId
              const teacherName = rowData
                ? (
                    teacherData.find(
                      (teacher) => teacher.TeacherId === rowData.TeacherId
                    ) || {}
                  ).TeacherName
                : null;

              fetchStudents({
                classSubjectId: rowData.ClassSubjectId,
                subject: rowData.Subject,
                teacher: teacherName,
              });
            }
          }
        }
      }
    });

    // Render the grid
    grid.appendTo('#grid-class-subject');

    const filterbarOperator = new ej.buttons.CheckBox();
    filterbarOperator.appendTo('#filterBarOperator');

    filterbarOperator.addEventListener('change', function (args) {
      grid.filterSettings.showFilterBarOperator = args.checked;
      grid.clearFiltering();
    });
  }

  // Function to save changes to the server
  function updateGridDataChanges(updatedRecords) {
    // Make a POST request to the Flask server
    fetch(`${api_base_url}/update/class-subject`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(updatedRecords),
    })
      .then((response) => response.json())
      .then((data) => {
        // If success throw notyf showing the data.result
        if (data.result) {
          notyf.success(data.result);
          return;
        }
      })
      .catch((error) => {
        console.error('Error:', error);
        // Handle errors if needed
      })
      .finally(() => {
        closeModal('loadingModal');
      });
  }

  async function fetchStudents(data) {
    // Set classSubjectId
    classSubjectId = data.classSubjectId;
    // console.log('CLICK DATA: ', data);
    // Get teacher, subject, semester and update its value
    document.getElementById('teacher-modal').innerHTML = data.teacher
      ? data.teacher
      : 'No assigned teacher yet';
    document.getElementById('subject-modal').innerHTML = data.subject;

    document.getElementById('studentSubjectExcel').value = '';

    const modal = document.getElementById('studentListModal');
    // Remove hidden
    modal.classList.add('flex');
    modal.classList.remove('hidden');
    displayGridStudentList('wew', data.classSubjectId);
  }

  function displayGridStudentList(json_student_list, classSubjectId) {
    // Check the length of json_student_list if 0 assign an empty array else put the json_student_list in dataSource of grid
    // var data = json_student_list.length === 0 ? [] : json_student_list;
    console.log('classSubjectId: ', classSubjectId);
    let gridConfig = {
      apiUrl: `${api_base_url}/class/subject/${classSubjectId}`,
      insertUrl: `${api_base_url}/class/subject/${classSubjectId}/insert`,
      removeUrl: `${api_base_url}/class/subject/${classSubjectId}/delete`,
      columns: [
        {
          field: 'StudentId',
          isPrimaryKey: true,
          visible: false, // Set to false to hide the column
        },
        {
          field: 'StudentNumber',
          headerText: 'Student Number',
          width: 150,
          validationRules: {
            required: true,
          },
        },
        {
          field: 'LastName',
          headerText: 'LastName',
          width: 150,
          allowEditing: false,
        },
        {
          field: 'FirstName',
          headerText: 'FirstName',
          width: 150,
          allowEditing: false,
        },
        {
          field: 'MiddleName',
          headerText: 'MiddleName',
          width: 150,
          allowEditing: false,
        },
        {
          field: 'Email',
          headerText: 'Email',
          width: 200,
          allowEditing: false,
        },
        {
          field: 'Grade',
          headerText: 'Grade',
          width: 70,
          allowEditing: false,
        },
        {
          field: 'DateEnrolled',
          headerText: 'Date Enrolled',
          width: 100,
          type: 'date',
          allowFiltering: false,
          format: { type: 'date', format: 'MM/dd/yyyy' },
          editType: 'datepickeredit',
          edit: { params: { format: 'MM/dd/yy', max: new Date() } },
          validationRules: {
            required: true,
          },
        },
      ],
    };

    // Create a DataManager with the provided API URL
    let subject_student_list_data = new ej.data.DataManager({
      url: `${gridConfig.apiUrl}`,
      insertUrl: gridConfig.insertUrl,
      removeUrl: gridConfig.removeUrl,
      adaptor: new ej.data.ODataAdaptor(),
    });

    console.log('subject_student_list_data: ', subject_student_list_data);

    var grid = new ej.grids.Grid({
      dataSource: subject_student_list_data,
      columns: gridConfig.columns,
      allowPaging: true,
      allowFiltering: true,
      allowSorting: true, // Enable sorting
      allowExcelExport: true,
      toolbar: ['ExcelExport', 'Add', 'Delete', 'Cancel'], // Add the ExcelExport button to the toolbar
      editSettings: {
        // allowEditing: true,
        allowAdding: true,
        allowDeleting: true,
        showDeleteConfirmDialog: true,
      },
      pageSettings: { pageSize: 10 },
      // rowData: json_class['ClassSubjectGrade'],
      excelExportComplete: function (args) {},

      beforeDataBound: function (args) {
        // If args action type is filter then go to page 1

        if (args.actionArgs.requestType === 'filtering') {
          grid.goToPage(1);
        }
        // RUn the adaptor

        // Access the data returned from the server
        console.log('Data returned from server:', args);
      },

      actionBegin: function (args) {
        console.log('args in actionBegin: ', args);
        if (args.requestType === 'paging') {
          // Handle pagination click
          console.log('Page clicked:', args.currentPage);
          // You can perform additional actions here, such as loading data for the new page.
        }
        if (args.requestType === 'filtering') {
          // Go to page 1
          grid.goToPage(1);
        }
      },

      actionComplete: function (args) {
        if (args.requestType === 'save' && args.action === 'add') {
          console.log('INSERTED ARGS: ', args);
          onSuccess('Data inserted successfully');
        }

        if (args.requestType === 'delete') {
          onSuccess('Data deleted successfully');
        }

        if (args.requestType === 'filtering') {
          // Go to page 1
          grid.goToPage(1);
        }
      },

      actionFailure: function (args) {
        if (args.error) {
          var errorResponse = JSON.parse(args.error[0].error.response);

          notyf.error(errorResponse.error);
        }
      },
    });

    grid.toolbarClick = function (args) {
      if (args['item'].id === `grid-${classSubjectId}_excelexport`) {
        grid.excelExport();
      }
    };

    const gridStudentList = document.getElementById('grid-student-list');
    const newDivElement = document.createElement('div');
    newDivElement.id = `grid-${classSubjectId}`;
    // append
    gridStudentList.appendChild(newDivElement);
    grid.appendTo(`#grid-${classSubjectId}`);

    const filterbarOperator = new ej.buttons.CheckBox();
    filterbarOperator.appendTo('#filterBarOperator');

    filterbarOperator.addEventListener('change', function (args) {
      grid.filterSettings.showFilterBarOperator = args.checked;
      grid.clearFiltering();
    });
  }

  // JavaScript function to close the modal and remove content
  function closeStudentSubjectsModal() {
    // Get the #grid-student-list element
    var gridStudentList = document.getElementById('grid-student-list');
    // remove the child of gridStudentList
    while (gridStudentList.firstChild) {
      gridStudentList.removeChild(gridStudentList.firstChild);
    }

    // Hide the modal
    document.getElementById('studentListModal').classList.add('hidden');
  }
</script>

{% endblock script %}
