{% extends "universityadmin/layout.html" %} {% block title %}
<title>Curriculum</title> {% endblock title %}
<!----------------- STYLE ----------------->
{% block style %}

<style>
  /* #lister_svg{
    background-color: aqua;
  
  }
   */
</style>
{% endblock style %}

<!----------------- CONTENT ----------------->
{% block content %}

<div class="grid grid-cols-6 grid-rows-11 gap-4 h-full overflow-auto p-4">
  <div class="bg-white p-8 shadow-md col-span-full">
    <div
      class="rounded-sm border border-stroke bg-white p-4 md:p-6 xl:p-7.5 shadow-sm"
    >
      <h3 class="text-2xl font-bold text-c4 mb-3 px-4" id="name-number">
        Curriculum
      </h3>

      <div>
        <form
          class="bg-white p-4 rounded-lg"
          enctype="multipart/form-data"
          onsubmit="submitCurriculumSubjects(event)"
          method="POST"
          id="reset-form-email"
        >
          <div class="mb-4">
            <label
              for="excelFile"
              class="block text-gray-700 font-bold text-lg mb-2"
            >
              Add Curriculum:
            </label>
            <p class="font-semibold text-gray-700">
              Column Required:
              <span class="font-normal"
                >Course, Subject Code, Year, Semester, and Batch</span
              >
            </p>
          </div>
          <div class="mb-4 flex gap-4">
            <input
              type="file"
              name="excelFile"
              id="excelFile"
              accept=".xlsx, .xls"
              class="bg-gray-200 text-gray-700 rounded-lg py-2 px-4 w-1/2"
            />

            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg"
            >
              Upload Excel File
            </button>
          </div>
          <p id="class-file-error" class="text-c4 text-sm"></p>
          <div id="errors" class="hidden">
            <div>
              <p
                id="subject-error"
                class="text-c1 text-xl font-semibold hidden"
              >
                Subject not exist:
              </p>
              <ul id="subject-list-error" class="text-c1 text-sm"></ul>
            </div>

            <div>
              <p
                id="curriculum-error"
                class="text-c1 text-xl font-semibold hidden"
              >
                Curriculum already exist:
              </p>
              <ul id="curriculum-list-error" class="text-c1 text-sm"></ul>
            </div>

            <div>
              <p id="course-error" class="text-c1 text-xl font-semibold hidden">
                Course not exist:
              </p>
              <ul id="course-list-error" class="text-c1 text-sm"></ul>
            </div>
          </div>
        </form>
      </div>

      <hr class="mx-2" />
      <div class="flex items-end justify-between">
        <div class="w-full bg-white p-4 mt-4">
          <div id="grid-curriculum"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div
  id="loadingModal"
  class="hidden modal fixed inset-0 flex items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"></div>

  <!-- Modal Content -->
  <div class="modal-container bg-white p-8 rounded shadow-lg z-10">
    <!-- Modal Header -->

    <!-- Modal Body -->
    <div class="modal-body w-full relative">
      <div class="flex flex-row gap-2">
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.7s]"
        ></div>
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.3s]"
        ></div>
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.7s]"
        ></div>
      </div>
    </div>
  </div>
</div>

<div
  id="curriculum-subjects-modal"
  class="modal hidden fixed inset-0 flex items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"></div>
  <!-- Modal Content -->
  <div class="modal-container bg-white p-8 rounded shadow-lg z-10 w-10/12">
    <!-- Modal Header -->
    <div class="modal-header">
      <div class="flex justify-between">
        <h2 class="text-c1 text-2xl font-semibold">Curriculum List</h2>
        <button class="modal-close" onclick="closeModal()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
              fill="#000"
            />
          </svg>
        </button>
      </div>
      <div class="grid grid-cols-2 gap-8 px-4 mt-4">
        <div>
          <p class="font-bold">Course:</p>
          <p class="font-normal" id="text-course-modal"></p>
        </div>
        <div>
          <p class="font-bold">Batch:</p>
          <p class="font-normal" id="text-batch-modal"></p>
        </div>
        <div>
          <p class="font-bold">Year:</p>
          <p class="font-normal" id="text-year-modal"></p>
        </div>
        <div>
          <p class="font-bold">Semester:</p>
          <p class="font-normal" id="text-semester-modal"></p>
        </div>
      </div>

      <div>
        <div>
          <form
            class="bg-white rounded-lg mt-4 px-4 mb-8"
            enctype="multipart/form-data"
            onsubmit="submitClass(event)"
            method="POST"
            id="reset-form-email"
          >
            <div class="mb-2 mt-4">
              <label
                for="excelFile"
                class="block text-gray-700 font-bold text-lg mb-2"
              >
                Add Curriculum Subjects:
              </label>
            </div>
            <div class="mb-4 flex gap-4">
              <input
                type="file"
                name="excelFile"
                id="excelFile"
                accept=".xlsx, .xls"
                class="bg-gray-200 text-gray-700 rounded-lg py-2 px-4 w-1/2"
              />
              <button
                type="submit"
                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg"
              >
                Upload Excel File
              </button>
            </div>
            <p id="students-file-error" class="text-c4 text-sm"></p>
            <div id="errors" class="hidden">
              <p
                id="students-header-error"
                class="text-c1 text-xl font-semibold"
              >
                Student number or email already exist:
              </p>
              <div id="class-error" class="text-c1 text-sm"></div>
            </div>
          </form>
        </div>
        <div class="grid grid-cols-1 mt-4">
          <div id="grid-student-list"></div>
        </div>
      </div>
      <!-- Modal Body -->
      <div class="modal-body w-full relative">
        <hr class="mx-2" />
        <div class="flex items-end justify-between">
          <div class="w-full bg-white p-4 mt-4">
            <div id="grid-subjects"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}

  <!-- SCRIPTS DATA -->
  {% block script %}

  <!-- FETCH CLASS PERFORMANCE (CHART) -->
  <script>
    let isDisplaySubjects = false;
    // JavaScript function to close the modal
    function closeModal() {
      isDisplaySubjects = false;
      // Get the #grid-student-list element
      var gridStudentList = document.getElementById('grid-subjects');

      // Remove all child nodes (content) inside #grid-student-list
      while (gridStudentList.firstChild) {
        gridStudentList.removeChild(gridStudentList.firstChild);
      }

      document
        .getElementById('curriculum-subjects-modal')
        .classList.add('hidden');
    }
  </script>

  <!-- FETCH ALL CLASS DATA (GRIDS)-->
  <script>
    async function fetchCurriculum() {
      try {
        const response = await fetch(`${api_base_url}/curriculum`);

        if (!response.ok) {
          const empty = [];
          displayGridCurriculum(empty);
          throw new Error(
            `Failed to fetch data. Try to contact the admin to resolve the issue.`
          );
        }

        const result = await response.json();
        if (result.data) {
          displayGridCurriculum(result.data);
        }
      } catch (error) {
        console.error(error);
      }
    }

    function displayGridCurriculum(curriculum) {
      console.log('curriculum: ', curriculum);
      // Create the grid with filtering
      var grid = new ej.grids.Grid({
        dataSource: curriculum,
        allowPaging: true,
        allowFiltering: true,
        allowSorting: true, // Enable sorting
        allowExcelExport: true,
        // rowData: json_class['ClassSubjectGrade'],
        columns: [
          {
            field: 'Course',
            headerText: 'Course',
            width: 100,
          },

          {
            field: 'Subject Code',
            headerText: 'Subject Code',
            width: 100,
          },
          // {
          //   field: 'Subject',
          //   headerText: 'Subject',
          //   width: 250,
          // },
          {
            field: 'Year',
            headerText: 'Year',
            width: 100,
          },
          {
            field: 'Semester',
            headerText: 'Semester',
            width: 100,
          },
          {
            field: 'Batch',
            headerText: 'Batch',
            width: 100,
          },

          // {
          //   headerText: 'Actions',
          //   template:
          //     '<button class="btn-subjects px-4 py-2 bg-primary text-white font-bold" >Subjects</button>', // Add a button to the cell
          //   width: 150,
          // },
        ],

        toolbar: ['ExcelExport'], // Add the ExcelExport button to the toolbar
        allowExcelExport: true, // Enable Excel export feature
        excelExportComplete: function (args) {
          // Exclude the 'Subject Code' column from the exported Excel file
          args.xlsxExportOptions.sheets[0].columns =
            args.xlsxExportOptions.sheets[0].columns.filter(function (column) {
              return column.field !== 'Subject';
            });
        },
      });

      grid.toolbarClick = function (args) {
        if (args['item'].id === 'grid-curriculum_excelexport') {
          console.log('INSIDDE');
          grid.excelExport();
        }
      };
      // Add a click event handler for all buttons with the "btn" class
      document.addEventListener('click', function (event) {
        if (event.target.classList.contains('btn-subjects')) {
          const cellElement = event.target.closest('.e-rowcell');
          if (cellElement) {
            const dataUid = cellElement.parentElement.getAttribute('data-uid');
            if (dataUid) {
              const rowData = grid.getRowObjectFromUID(dataUid).data;
              if (rowData && isDisplaySubjects == false) {
                fetchCurriculumSubjects({
                  MetadataId: rowData.MetadataId,
                  Course: rowData.Course,
                  Year: rowData.Year,
                  Semester: rowData.Semester,
                  Batch: rowData.Batch,
                });
              }
            }
          }
        }
      });

      // Render the grid
      grid.appendTo('#grid-curriculum');

      const filterbarOperator = new ej.buttons.CheckBox();
      filterbarOperator.appendTo('#filterBarOperator');

      filterbarOperator.addEventListener('change', function (args) {
        grid.filterSettings.showFilterBarOperator = args.checked;
        grid.clearFiltering();
      });
    }

    // Example function to show a modal when the "Performance" button is clicked

    // JavaScript function to show the modal
    async function fetchCurriculumSubjects(data) {
      isDisplaySubjects = true;

      const response = await fetch(
        `${api_base_url}/curriculum/subjects/${data.MetadataId}`
      );

      if (!response.ok) {
        throw new Error(
          `Failed to fetch data. Try to contact the admin to resolve the issue.`
        );
      }

      const result = await response.json();
      displayCurriculumSubjects({
        Subject: result.data,
        Course: data.Course,
        Year: data.Year,
        Semester: data.Semester,
        Batch: data.Batch,
      });
    }

    function displayCurriculumSubjects(data) {
      // Get all text modal
      const textCourseModal = document.getElementById('text-course-modal');
      const textBatchModal = document.getElementById('text-batch-modal');
      const textYearModal = document.getElementById('text-year-modal');
      const textSemesterModal = document.getElementById('text-semester-modal');

      // Update the text
      textCourseModal.innerText = data.Course;
      textBatchModal.innerText = data.Batch;
      textYearModal.innerText = data.Year;
      textSemesterModal.innerText = data.Semester;

      displayGridSubjects(data.Subject);

      document
        .getElementById('curriculum-subjects-modal')
        .classList.remove('hidden');
    }

    function displayGridSubjects(subjects) {
      console.log('subjects: ', subjects);
      // Create the grid with filtering
      var grid = new ej.grids.Grid({
        dataSource: subjects,
        allowPaging: true,
        allowFiltering: true,
        allowSorting: true, // Enable sorting
        allowExcelExport: true,
        // rowData: json_class['ClassSubjectGrade'],
        columns: [
          {
            field: 'Subject Code',
            headerText: 'Course Name',
            width: 100,
          },
          {
            field: 'Name',
            headerText: 'Name',
            width: 250,
          },
          {
            field: 'Units',
            headerText: 'Units',
            width: 100,
          },
        ],

        toolbar: ['ExcelExport'], // Add the ExcelExport button to the toolbar
        allowExcelExport: true, // Enable Excel export feature
        excelExportComplete: function (args) {},
      });

      grid.toolbarClick = function (args) {
        if (args['item'].id === 'Grid_excelexport') {
          grid.excelExport();
        }
      };
      // Add a click event handler for all buttons with the "btn" class

      // Render the grid
      grid.appendTo('#grid-subjects');

      const filterbarOperator = new ej.buttons.CheckBox();
      filterbarOperator.appendTo('#filterBarOperator');

      filterbarOperator.addEventListener('change', function (args) {
        grid.filterSettings.showFilterBarOperator = args.checked;
        grid.clearFiltering();
      });
    }

    fetchCurriculum();
  </script>

  <!-- ADDING STUDENTS -->
  <script>
    async function submitCurriculumSubjects(event) {
      event.preventDefault();
      // get loadingModal
      showLoadingModal('loadingModal');

      console.log('INSIDE SUBMIT CURRICULUM');

      const fileErrorElement = document.getElementById('class-file-error');
      const fileInput = document.getElementById('excelFile');
      const file = fileInput.files[0];
      // Get the exist
      const errorContainer = document.getElementById('errors');
      errorContainer.classList.add('hidden');

      // Remove all errors message in those element if not exist in curriculum, subject and course
      const curriculumListElement = document.getElementById(
        'curriculum-list-error'
      );
      clearChildElements(curriculumListElement);
      // do for subject
      const subjectListElement = document.getElementById('subject-list-error');
      clearChildElements(subjectListElement);
      // do for course
      const courseListElement = document.getElementById('course-list-error');
      clearChildElements(courseListElement);

      if (!file) {
        fileErrorElement.innerText = 'Please choose a file.';
        return;
      }

      if (!file.name.endsWith('.xlsx') && !file.name.endsWith('.xls')) {
        fileErrorElement.innerText =
          'Invalid file type. Please select an Excel file.';
        return;
      } else {
        fileErrorElement.innerText = '';
      }

      // If file type is valid, proceed with the API request
      const formData = new FormData();
      formData.append('excelFile', file);

      const apiUrl =
        "{{ url_for('university_admin_api.submitCurriculumSubjects') }}";

      postCurriculum(apiUrl, formData);
    }

    async function postCurriculum(apiUrl, formData) {
      try {
        const response = await fetch(apiUrl, {
          method: 'POST',
          body: formData,
        });

        const data = await response.json();

        if (data.result) {
          handleSuccess(data);
        } else {
          handleErrors(data);
        }
      } catch (error) {
        console.log('Error:', error);
      } finally {
        closeLoadingModal('loadingModal');
      }
    }

    function handleSuccess(data) {
      notyf.success(data.result);
      const grid = document.getElementById('grid-curriculum').ej2_instances[0];
      const dataSource = grid.dataSource;
      grid.dataSource = data.data.concat(dataSource);
    }

    function handleErrors(data) {
      const listElement = document.getElementById('class-error');
      clearChildElements(listElement);

      const courseNotExistingHeader = document.getElementById('course-error');
      const curriculumSubjectExistHeader =
        document.getElementById('curriculum-error');
      const subjectNotExistHeader = document.getElementById('subject-error');

      if (data.error_data.curriculum_subject_exist.length > 0) {
        curriculumSubjectExistHeader.classList.remove('hidden');
        handleCurriculumSubjectExistError(
          data.error_data.curriculum_subject_exist
        );
      } else {
        curriculumSubjectExistHeader.classList.add('hidden');
      }

      // Do the if else for course_not_exist
      if (data.error_data.course_not_exist.length > 0) {
        courseNotExistingHeader.classList.remove('hidden');
        handleCourseNotExistError(data.error_data.course_not_exist);
      } else {
        courseNotExistingHeader.classList.add('hidden');
      }

      // Do the if else for subject_not_exist
      if (data.error_data.subject_not_exist.length > 0) {
        subjectNotExistHeader.classList.remove('hidden');
        handleSubjectNotExistError(data.error_data.subject_not_exist);
      } else {
        subjectNotExistHeader.classList.add('hidden');
      }
      const errorContainer = document.getElementById('errors');
      errorContainer.classList.remove('hidden');

      notyf.error(data.error);
    }

    function handleCurriculumSubjectExistError(errors) {
      const listElement = document.getElementById('curriculum-list-error');
      // const curriculumSubjectExistHeader =
      //   document.getElementById('curriculum-error');
      // curriculumSubjectExistHeader.innerText = 'Curriculum already exist:';
      errors.forEach((element) => {
        const semesterOrdinal = getOrdinal(element.Semester);
        const yearOrdinal = getOrdinal(element.Year);
        const errorP = createErrorList(
          `${element['Subject Code']} - ${element.Course} ${yearOrdinal} Year - (${element.Batch} - ${semesterOrdinal} Semester)`
        );
        listElement.appendChild(errorP);
      });
    }

    function handleCourseNotExistError(errors) {
      const listElement = document.getElementById('course-list-error');
      // const courseNotExistingHeader = document.getElementById('course-error');
      // courseNotExistingHeader.innerText = 'Course not exist:';
      errors.forEach((course) => {
        const errorP = createErrorList(course);
        listElement.appendChild(errorP);
      });
    }

    function handleSubjectNotExistError(errors) {
      const listElement = document.getElementById('subject-list-error');
      // const subjectNotExistHeader = document.getElementById('subject-error');
      // subjectNotExistHeader.innerText = 'Subject not exist:';
      errors.forEach((subject) => {
        console.log(subject);
        const errorP = createErrorList(subject['Subject Code']);
        listElement.appendChild(errorP);
      });
    }

    function createErrorList(text) {
      const errorP = document.createElement('li');
      errorP.innerText = text;
      return errorP;
    }

    function clearChildElements(element) {
      while (element.firstChild) {
        element.removeChild(element.firstChild);
      }
    }

    function getOrdinal(semester) {
      const suffixes = ['st', 'nd', 'rd'];
      const remainder = semester % 10;
      const suffix =
        remainder >= 1 &&
        remainder <= 3 &&
        semester !== 11 &&
        semester !== 12 &&
        semester !== 13
          ? suffixes[remainder - 1]
          : 'th';
      return `${semester}${suffix}`;
    }
  </script>
  {% endblock script %}
</div>
