{% extends "universityadmin/layout.html" %} {% block title %}
<title>Curriculum</title> {% endblock title %}
<!----------------- STYLE ----------------->
{% block style %}

<style>
  .e-grid .e-validation-message {
    color: blue; /* Change the text color to red */
    font-style: italic; /* Apply italic style */
    font-size: 12px; /* Adjust the font size */
  }

  .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn-text {
    color: white !important;
  }
</style>
{% endblock style %}

<!----------------- CONTENT ----------------->
{% block content %}

<div class="grid grid-cols-6 grid-rows-11 gap-4 h-full overflow-auto">
  <div class="p-4 col-span-full">
    <div class="rounded-sm border border-stroke bg-white p-4 shadow-sm">
      <h3 class="text-2xl font-bold text-c4 mb-3 px-4" id="name-number">
        Curriculum
      </h3>

      <div>
        <form
          class="bg-white p-4 rounded-lg"
          enctype="multipart/form-data"
          onsubmit="submitCurriculumSubjects(event)"
          method="POST"
          id="reset-form-email"
        >
          <div class="mb-4">
            <label
              for="excelFile"
              class="block text-gray-700 font-bold text-lg mb-2"
            >
              Add Curriculum:
            </label>
            <p class="font-semibold text-gray-700">
              Column Required:
              <span class="font-normal"
                >Course, Subject Code, Year, Semester, and Batch</span
              >
            </p>
          </div>
          <div class="mb-4 flex gap-4">
            <input
              type="file"
              name="excelFile"
              id="excelFile"
              accept=".xlsx, .xls"
              class="bg-gray-200 text-gray-700 rounded-lg py-2 px-4 w-1/2"
            />

            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg"
            >
              Upload Excel File
            </button>
          </div>
          <p id="class-file-error" class="text-c4 text-sm"></p>
        </form>
      </div>

      <hr class="mx-2" />
      <div class="flex items-end justify-between">
        <div class="w-full bg-white p-4 mt-4">
          <div id="grid-curriculum"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL FOR ERROR -->
<div
  id="curriculumErrorModal"
  class="modal hidden fixed inset-0 flex items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div
    class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"
    onclick="closeModalError('curriculumErrorModal', 'grid-error-list')"
  ></div>
  <!-- Modal Content -->
  <div
    class="modal-container bg-white p-8 rounded shadow-lg z-10 w-10/12 overflow-y-auto"
  >
    <!-- Modal Header -->
    <div class="modal-header overflow-y-auto">
      <div class="flex justify-between">
        <h2 class="text-c1 text-2xl font-semibold">
          Adding Curriculum Error List
        </h2>
        <button
          class="modal-close"
          onclick="closeModalError('curriculumErrorModal', 'grid-error-list')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
              fill="#000"
            />
          </svg>
        </button>
      </div>

      <div class="modal-body w-full relative mt-8">
        <div id="grid-error-list" class="overflow-y-auto">
          <!-- This is the content of modal -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div
  id="deleteModal"
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden z-10"
>
  <div class="bg-white p-8 rounded shadow-md">
    <p class="mb-4">Are you sure you want to remove this student?</p>
    <div class="flex justify-end">
      <button
        id="cancelBtn"
        class="mr-2 px-4 py-2 text-white bg-gray-600 rounded"
      >
        Cancel
      </button>
      <button id="confirmBtn" class="px-4 py-2 text-white bg-[#9D1D1D] rounded">
        Confirm
      </button>
    </div>
  </div>
</div>

<div
  id="loadingModal"
  class="hidden modal flex fixed inset-0 items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"></div>
  <!-- Modal Content -->
  <div class="modal-container bg-white p-8 rounded shadow-lg z-10">
    <div class="modal-body w-full relative">
      <div class="flex flex-row gap-2">
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.7s]"
        ></div>
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.3s]"
        ></div>
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.7s]"
        ></div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- SCRIPTS DATA -->
{% block script %}

<!-- ADDING STUDENTS -->
<script>
  async function submitCurriculumSubjects(event) {
    event.preventDefault();

    const fileErrorElement = document.getElementById('class-file-error');
    const fileInput = document.getElementById('excelFile');
    const file = fileInput.files[0];

    if (!file) {
      fileErrorElement.innerText = 'Please choose a file.';
      return;
    }

    if (!file.name.endsWith('.xlsx') && !file.name.endsWith('.xls')) {
      fileErrorElement.innerText =
        'Invalid file type. Please select an Excel file.';
      return;
    } else {
      fileErrorElement.innerText = '';
    }

    // If file type is valid, proceed with the API request
    const formData = new FormData();
    formData.append('excelFile', file);

    const apiUrl =
      "{{ url_for('university_admin_api.submitCurriculumSubjects') }}";

    postCurriculum(apiUrl, formData, fileInput);
  }

  async function postCurriculum(apiUrl, formData, fileInput) {
    try {
      showModal('loadingModal');
      fetch(apiUrl, {
        method: 'POST',
        body: formData,
      })
        .then((response) => response.json())
        .then((data) => {
          handleDataSubmitResults(
            data,
            fileInput,
            displaySubmitErrorCurriculum,
            'curriculumErrorModal',
            'grid-curriculum'
          );
        })
        .catch((error) => {
          console.error('Error:', error);
        })
        .finally(() => {
          closeModal('loadingModal');
        });
    } catch (error) {
      console.log(error);
    }
  }

  function displaySubmitErrorCurriculum(curriculum) {
    var grid = new ej.grids.Grid({
      dataSource: curriculum,
      allowPaging: true,
      allowFiltering: true,
      allowSorting: true, // Enable sorting
      allowExcelExport: true,
      pageSettings: { pageSize: 10 }, // Set the page size
      // rowData: json_class['ClassSubjectGrade'],
      columns: [
        {
          field: 'Course',
          headerText: 'Course',
          width: 100,
        },

        {
          field: 'Subject Code',
          headerText: 'Subject Code',
          width: 100,
        },
        {
          field: 'Year',
          headerText: 'Year',
          width: 100,
        },
        {
          field: 'Semester',
          headerText: 'Semester',
          width: 100,
        },
        {
          field: 'Batch',
          headerText: 'Batch',
          width: 100,
        },
        {
          field: 'Error',
          headerText: 'Error',
          width: 100,
        },
      ],

      // toolbar: ['ExcelExport'], // Add the ExcelExport button to the toolbar
      allowExcelExport: true, // Enable Excel export feature
      excelExportComplete: function (args) {
        // Exclude the 'Subject Code' column from the exported Excel file
        args.xlsxExportOptions.sheets[0].columns =
          args.xlsxExportOptions.sheets[0].columns.filter(function (column) {
            return column.field !== 'Subject';
          });
      },
    });

    grid.toolbarClick = function (args) {
      if (args['item'].id === 'grid-error-list_excelexport') {
        grid.excelExport();
      }
    };

    // Render the grid
    grid.appendTo('#grid-error-list');

    const filterbarOperator = new ej.buttons.CheckBox();
    filterbarOperator.appendTo('#filterBarOperator');

    filterbarOperator.addEventListener('change', function (args) {
      grid.filterSettings.showFilterBarOperator = args.checked;
      grid.clearFiltering();
    });
  }
</script>
<!-- ################################################################################## -->
<!-- WEB API URL UPDATE -->
<!-- Your Flask script to render configuration data -->
<link
  rel="stylesheet"
  href="https://cdn.syncfusion.com/ej2/17.3.29/material.css"
/>
<script src="https://cdn.syncfusion.com/ej2/17.3.29/dist/ej2.min.js"></script>

<script></script>

<script>
  // Assume your Flask route provides configuration data
  let gridConfig = {
    apiUrl: `${api_base_url}/curriculum`,
    insertUrl: `${api_base_url}/curriculum/insert`,
    removeUrl: `${api_base_url}/curriculum/delete`,
    columns: [
      {
        field: 'CurriculumId',
        isPrimaryKey: true,
        visible: false, // Set to false to hide the column
      },
      // Course Code
      {
        field: 'CourseCode',
        headerText: 'Course',
        width: 50,
        validationRules: {
          required: true,
        },
        editType: 'dropdownedit',
        edit: {
          params: {
            dataSource: [],
            allowFiltering: true,
          },
        },
      },
      // Subject Code
      {
        field: 'SubjectCode',
        headerText: 'Subject Code',
        width: 80,
        validationRules: {
          required: true,
        },
        editType: 'dropdownedit',
        edit: {
          params: {
            dataSource: [],
            allowFiltering: true,
            filterType: 'contains',
            change: function (args) {
              // Change the selected value to current value
              subject = args.value.split(' - ');

              const subjectCodeInput = document.getElementById(
                'grid-curriculumSubjectCode'
              );
              const subjectInput = document.getElementById(
                'grid-curriculumSubject'
              );
              // Set the value of the input to the selected subject code
              subjectInput.value = subject[1];
              subjectCodeInput.value = subject[0];
            },
          },
        },
      },
      // Subject
      {
        field: 'Subject',
        headerText: 'Subject',
        width: 130,
        allowEditing: false,
      },
      // Year
      {
        field: 'Year',
        headerText: 'Year',
        width: 50,
        validationRules: {
          required: true,
        },
        editType: 'dropdownedit',
        edit: {
          params: {
            dataSource: [],
          },
        },
      },
      // Semester
      {
        field: 'Semester',
        headerText: 'Semester',
        width: 50,
        validationRules: {
          required: true,
        },
        editType: 'dropdownedit',
        edit: {
          params: {
            dataSource: [],
          },
        },
      },
      // Batch
      {
        field: 'Batch',
        headerText: 'Batch',
        width: 50,
        validationRules: {
          required: true,
        },
        editType: 'dropdownedit',
        edit: {
          params: {
            dataSource: [],
          },
        },
        filterBarTemplate: {
          create: function (args) {
            var dd = document.createElement('input');
            dd.id = 'Batch';
            return dd;
          },
          write: function (args) {
            var currentYear = new Date().getFullYear();
            var years = [];
            years.push('All');
            for (var i = currentYear; i > currentYear - 10; i--) {
              years.push(i.toString());
            }

            var DropDownListObj = new ej.dropdowns.DropDownList({
              dataSource: years,
              fields: { text: 'Batch', value: 'Batch' },
              placeholder: 'Select a value',

              change: function (e) {
                var gridObj =
                  document.getElementsByClassName('e-grid')[0].ej2_instances[0];
                if (e.value == 'All') {
                  gridObj.removeFilteredColsByField('Batch');
                } else {
                  gridObj.filterByColumn('Batch', 'equal', parseInt(e.value));
                }
              },
            });
            DropDownListObj.appendTo('#Batch');
          },
        },
      },
    ],
  };

  document.addEventListener('DOMContentLoaded', async function () {
    try {
      await fetch(`${api_base_url}/curriculum/options`)
        .then((response) => response.json())
        .then((data) => {
          if (data.result) {
            gridConfig.columns[1].edit.params.dataSource =
              data.result.courseOptions;
            gridConfig.columns[2].edit.params.dataSource =
              data.result.subjectCodeOptions;
            gridConfig.columns[4].edit.params.dataSource =
              data.result.yearOptions;
            gridConfig.columns[5].edit.params.dataSource =
              data.result.semesterOptions;
            gridConfig.columns[6].edit.params.dataSource =
              data.result.batchOptions;
          }
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    } catch (error) {
      console.log('Error: ', error);
    }

    // Create a DataManager with the provided API URL
    let curriculum_subject_data = new ej.data.DataManager({
      url: gridConfig.apiUrl,
      insertUrl: gridConfig.insertUrl,
      removeUrl: gridConfig.removeUrl,
      adaptor: new ej.data.ODataAdaptor(),
    });

    // Create Syncfusion Grid using the provided configuration
    let grid = new ej.grids.Grid({
      dataSource: curriculum_subject_data,
      columns: gridConfig.columns,
      allowPaging: true,
      allowFiltering: true,
      allowSorting: true, // Enable sorting
      allowExcelExport: true,
      toolbar: ['ExcelExport', 'Add', 'Delete', 'Cancel'], // Add the ExcelExport button to the toolbar
      editSettings: {
        allowEditing: true,
        allowAdding: true,
        allowDeleting: true,
        showDeleteConfirmDialog: true,
      },

      pageSettings: { pageSize: 10, totalRecordsCount: 10 },
      beforeDataBound: function (args) {
        // If args action type is filter then go to page 1

        if (args.actionArgs.requestType === 'filtering') {
          grid.goToPage(1);
        }
        // RUn the adaptor

        // Access the data returned from the server
        console.log('Data returned server');
      },

      actionBegin: function (args) {
        if (args.requestType === 'filtering') {
          grid.goToPage(1);
        }
      },
      actionComplete: function (args) {
        if (args.requestType === 'save' && args.action === 'add') {
          console.log('INSERTED ARGS: ', args);
          onSuccess('Data inserted successfully');
        }

        if (args.requestType === 'delete') {
          onSuccess('Data deleted successfully');
        }

        if (args.requestType === 'paging') {
          // Handle pagination click
          // You can perform additional actions here, such as loading data for the new page.
        }
        if (args.requestType === 'filtering') {
          // Go to page 1
          grid.goToPage(1);
        }
      },
      actionFailure: function (args) {
        if (args.error) {
          var errorResponse = JSON.parse(args.error[0].error.response);

          notyf.error(errorResponse.error);
        }

        // Handle the failure, you can display an error message or perform other actions
        if (args.requestType === 'save') {
          console.error('Error in saving data:', args.error);
          // Test for failure and perform actions accordingly
          if (args.error) {
            // There is an error in saving data
            console.log('Save operation failed!');
          } else {
            // No specific error information available
            console.log('Unknown error in save operation');
          }

          // Prevent the default action (data insertion) on failure
          args.cancel = true;
        }
      },
    });
    grid.toolbarClick = function (args) {
      if (args['item'].id === 'grid-curriculum_excelexport') {
        grid.columns[7].visible = false;
        grid.excelExport();
      }
    };

    // Add a click event handler for all buttons with the "btn" class
    document.addEventListener('click', function (event) {
      if (event.target.classList.contains('btn')) {
        const cellElement = event.target.closest('.e-rowcell');
        if (cellElement) {
          const dataUid = cellElement.parentElement.getAttribute('data-uid');
          if (dataUid) {
            const rowData = grid.getRowObjectFromUID(dataUid).data;
            if (rowData) {
              fetchStudentPerformance(
                rowData.StudentId,
                rowData.StudentName,
                rowData.StudentNumber
              );
            }
          }
        }
      }
    });

    // Append the grid to the container
    grid.appendTo('#grid-curriculum');
  });
</script>

{% endblock script %}
