{% extends "universityadmin/layout.html" %} {% block title %}
<title>Finalized Grades</title> {% endblock title %}
<!----------------- STYLE ----------------->
{% block style %}

<style>
  /* #lister_svg{
    background-color: aqua;
  
  }
   */
</style>
{% endblock style %}

<!----------------- CONTENT ----------------->
{% block content %}

<div class="grid grid-cols-6 grid-rows-11 gap-4 h-full overflow-auto p-4">
  <div class="bg-white p-8 shadow-md col-span-full">
    <div
      class="rounded-sm border border-stroke bg-white p-4 md:p-6 xl:p-7.5 shadow-sm"
    >
      <h3 class="text-2xl font-bold text-c4 mb-3 px-4" id="name-number">
        Finalization of Grades
      </h3>

      <div class="flex items-end justify-between">
        <div class="w-full bg-white p-4 mt-4">
          <div id="grid-metadata"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div
  id="loadingModal"
  class="hidden modal fixed inset-0 items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"></div>

  <!-- Modal Content -->
  <div class="modal-container bg-white p-8 rounded shadow-lg z-10">
    <!-- Modal Header -->

    <!-- Modal Body -->
    <div class="modal-body w-full relative">
      <div class="flex flex-row gap-2">
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.7s]"
        ></div>
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.3s]"
        ></div>
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.7s]"
        ></div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- SCRIPTS DATA -->
{% block script %}

<!-- FETCH ALL CLASS DATA (GRIDS)-->
<script>
  async function fetchMetadata() {
    try {
      const response = await fetch(`${api_base_url}/metadata`);

      if (!response.ok) {
        const empty = [];
        displayGridCurriculum(empty);
        throw new Error(
          `Failed to fetch data. Try to contact the admin to resolve the issue.`
        );
      }

      const result = await response.json();
      if (result) {
        displayGridMetadata(result);
      }
    } catch (error) {
      console.error(error);
    }
  }

  fetchMetadata();

  function displayGridMetadata(metadata) {
    console.log('metadata: ', metadata);
    // Create the grid with filtering
    var grid = new ej.grids.Grid({
      dataSource: metadata,
      allowPaging: true,
      allowFiltering: true,
      allowSorting: true, // Enable sorting
      // rowData: json_class['ClassSubjectGrade'],
      columns: [
        {
          field: 'Course',
          headerText: 'Course',
          width: 200,
        },

        {
          field: 'Batch',
          headerText: 'Batch',
          width: 100,
        },
        {
          field: 'Semester',
          headerText: 'Semester',
          width: 100,
        },
        {
          headerText: 'Actions',
          template:
            '<button class="btn-metadata px-4 py-2 bg-primary text-white font-bold" >Finalized Grades</button>', // Add a button to the cell
          width: 150,
        },
      ],
    });

    // Add a click event handler for all buttons with the "btn" class
    document.addEventListener('click', function (event) {
      if (event.target.classList.contains('btn-metadata')) {
        const cellElement = event.target.closest('.e-rowcell');
        if (cellElement) {
          const dataUid = cellElement.parentElement.getAttribute('data-uid');
          if (dataUid) {
            const rowData = grid.getRowObjectFromUID(dataUid).data;
            if (rowData) {
              finalizedGrades(rowData.MetadataId);
            }
          }
        }
      }
    });

    // Render the grid
    grid.appendTo('#grid-metadata');

    const filterbarOperator = new ej.buttons.CheckBox();
    filterbarOperator.appendTo('#filterBarOperator');

    filterbarOperator.addEventListener('change', function (args) {
      grid.filterSettings.showFilterBarOperator = args.checked;
      grid.clearFiltering();
    });
  }

  // Example function to show a modal when the "Performance" button is clicked

  // JavaScript function to show the modal
  async function finalizedGrades(metadata_id) {
    console.log('metadata_id: ', metadata_id);
    // Request in api to update the data
    try {
      const response = await fetch(
        `${api_base_url}/finalized/grades/${metadata_id}`
      );

      if (!response.ok) {
        throw new Error(
          `Failed to fetch data. Try to contact the admin to resolve the issue.`
        );
      }

      const result = await response.json();
      console.log('result: ', result);
    } catch (error) {
      console.error(error);
    }
  }
</script>

{% endblock script %}
