{% extends "universityadmin/layout.html" %} {% block title %}
<title>Students</title> {% endblock title %}
<!----------------- STYLE ----------------->
{% block style %} {% endblock style %}

<!----------------- CONTENT ----------------->
{% block content %}

<div class="grid grid-cols-6 grid-rows-11 gap-4 h-full overflow-auto p-4">
  <div class="bg-white p-8 shadow-md col-span-full">
    <div
      class="rounded-sm border border-stroke bg-white p-4 md:p-6 xl:p-7.5 shadow-sm"
    >
      <h3 class="text-2xl font-bold text-c4 mb-3 px-4" id="name-number">
        Students
      </h3>

      <div>
        <form
          class="bg-white p-4 rounded-lg"
          enctype="multipart/form-data"
          onsubmit="submitStudents(event)"
          method="POST"
          id="reset-form-email"
        >
          <div class="mb-4">
            <label
              for="excelFile"
              class="block text-gray-700 font-bold text-lg mb-2"
            >
              Add Students
            </label>
            <p class="block text-gray-700 font-bold text-md mb-2">
              Column Required:
              <span class="font-normal"
                >Student Number, Name, Email, Course Code, Date Enrolled, and
                Batch</span
              >
            </p>
            <p class="block text-gray-700 font-bold text-md mb-2">
              Optional:
              <span class="font-normal">Phone Number, Address and Gender</span>
            </p>
          </div>
          <div class="mb-4 flex gap-4">
            <input
              type="file"
              name="excelFile"
              id="excelFile"
              accept=".xlsx, .xls"
              class="bg-gray-200 text-gray-700 rounded-lg py-2 px-4 w-1/2"
            />

            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg"
            >
              Upload Excel File
            </button>
          </div>
          <p id="students-file-error" class="text-c4 text-sm"></p>
        </form>
      </div>

      <hr class="mx-2" />
      <div class="flex items-end justify-between">
        <div class="w-full bg-white p-4 mt-4">
          <div id="grid"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="loadingModal"
  class="modal hidden fixed inset-0 flex items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"></div>

  <!-- Modal Content -->
  <div class="modal-container bg-white p-8 rounded shadow-lg z-10">
    <!-- Modal Header -->

    <!-- Modal Body -->
    <div class="modal-body w-full relative">
      <div class="flex flex-row gap-2">
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.7s]"
        ></div>
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.3s]"
        ></div>
        <div
          class="w-4 h-4 rounded-full bg-blue-700 animate-bounce [animation-delay:.7s]"
        ></div>
      </div>
    </div>
  </div>
</div>

<div
  id="studentErrorModal"
  class="modal hidden fixed inset-0 flex items-center justify-center z-50"
>
  <!-- Modal Overlay -->
  <div
    class="modal-overlay absolute inset-0 bg-gray-800 opacity-50"
    onclick="closeModalError('studentErrorModal', 'grid-error-students-list')"
  ></div>
  <!-- Modal Content -->
  <div
    class="modal-container bg-white p-8 rounded shadow-lg z-10 w-10/12 overflow-y-auto"
  >
    <!-- Modal Header -->
    <div class="modal-header overflow-y-auto">
      <div class="flex justify-between">
        <h2 class="text-c1 text-2xl font-semibold">
          Adding Curriculum Error List
        </h2>
        <button
          class="modal-close"
          onclick="closeModalError('studentErrorModal', 'grid-error-students-list')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
              fill="#000"
            />
          </svg>
        </button>
      </div>

      <div class="modal-body w-full relative mt-8">
        <div id="grid-error-students-list" class="overflow-y-auto">
          <!-- This is the content of modal -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- SCRIPTS DATA -->
{% block script %}

<script>
  function closeModalCurriculumSubjects(modalElementId, listElementId) {
    // Get the #grid-student-list element
    var gridErrorList = document.getElementById(listElementId);

    // Remove all child nodes (content) inside #grid-student-list
    while (gridErrorList.firstChild) {
      gridErrorList.removeChild(gridErrorList.firstChild);
    }

    closeModal(modalElementId);
  }
</script>

<!-- ADDING STUDENTS -->
<script>
  async function submitStudents(event) {
    event.preventDefault();

    const fileErrorElement = document.getElementById('students-file-error');
    const fileInput = document.getElementById('excelFile');
    const file = fileInput.files[0];

    if (!file) {
      fileErrorElement.innerText = 'Please choose a file.';
      return;
    }

    if (!file.name.endsWith('.xlsx') && !file.name.endsWith('.xls')) {
      fileErrorElement.innerText =
        'Invalid file type. Please select an Excel file.';
      return;
    } else {
      fileErrorElement.innerText = '';
    }

    // If file type is valid, proceed with the API request
    const formData = new FormData();
    formData.append('excelFile', file);

    try {
      showModal('loadingModal');
      fetch(`${api_base_url}/submit-students`, {
        method: 'POST',
        body: formData,
      })
        .then((response) => response.json())
        .then((data) => {
          handleDataSubmitResults(
            data,
            'grid',
            'studentErrorModal',
            fileInput,
            displaySubmitErrorStudents
          );
        })
        .catch((error) => {
          console.error('Error:', error);
        })
        .finally(() => {
          closeModal('loadingModal');
        });
    } catch (error) {
      console.log(error);
    }
  }

  function displaySubmitErrorStudents(students) {
    console.log('students: ', students);
    var grid = new ej.grids.Grid({
      dataSource: students,
      allowPaging: true,
      allowFiltering: true,
      allowSorting: true, // Enable sorting
      allowExcelExport: true,
      pageSettings: { pageSize: 10 }, // Set the page size
      // rowData: json_class['ClassSubjectGrade'],
      columns: [
        {
          field: 'StudentNumber',
          headerText: 'Student Number',
          width: 100,
        },
        {
          field: 'Name',
          headerText: 'Name',
          width: 100,
        },
        {
          field: 'Email',
          headerText: 'Email',
          width: 100,
        },
        {
          field: 'Phone',
          headerText: 'Phone',
          width: 100,
        },
        {
          field: 'Address',
          headerText: 'Address',
          width: 100,
        },
        {
          field: 'Gender',
          headerText: 'Gender',
          width: 100,
        },
        {
          field: 'CourseCode',
          headerText: 'Course Code',
          width: 100,
        },
        {
          field: 'DateEnrolled',
          headerText: 'Date Enrolled',
          width: 100,
        },
        {
          field: 'Batch',
          headerText: 'Batch',
          width: 100,
        },
        {
          field: 'Error',
          headerText: 'Error',
          width: 100,
        },
      ],

      toolbar: ['ExcelExport'], // Add the ExcelExport button to the toolbar
      allowExcelExport: true, // Enable Excel export feature
      excelExportComplete: function (args) {
        // Exclude the 'Subject Code' column from the exported Excel file
        args.xlsxExportOptions.sheets[0].columns =
          args.xlsxExportOptions.sheets[0].columns.filter(function (column) {
            return column.field !== 'Subject';
          });
      },
    });

    grid.toolbarClick = function (args) {
      if (args['item'].id === 'grid-error-students-list_excelexport') {
        grid.excelExport();
      }
    };

    // Render the grid
    grid.appendTo('#grid-error-students-list');

    const filterbarOperator = new ej.buttons.CheckBox();
    filterbarOperator.appendTo('#filterBarOperator');

    filterbarOperator.addEventListener('change', function (args) {
      grid.filterSettings.showFilterBarOperator = args.checked;
      grid.clearFiltering();
    });
  }
</script>

<!-- FETCHING STUDENT DETAILS -->
<script>
  // JavaScript function to show the modal
  async function fetchStudents() {
    const response = await fetch(`${api_base_url}/students`);

    if (!response.ok) {
      throw new Error(
        `Failed to fetch data. Try to contact the admin to resolve the issue.`
      );
    }

    const data = await response.json();
    if (!data.error) {
      displayStudent(data, 10);
    } else {
      displayStudent([], 10);
    }
  }

  // Function to initialize and display the Syncfusion Grid
  function displayStudent(data, recordsPerPage) {
    // Create an instance of the Syncfusion Grid
    const grid = new ej.grids.Grid({
      dataSource: data, // Paginated data
      allowPaging: true,
      allowFiltering: true,
      allowSorting: true, // Enable sorting
      allowExcelExport: true,
      columns: [
        // Define your columns based on your data structure
        { field: 'Student Number', headerText: 'Student Number' },
        { field: 'Name', headerText: 'Name' },
        { field: 'Email', headerText: 'Email' },
        { field: 'Mobile Number', headerText: 'Mobile Number' },
        { field: 'Gender', headerText: 'Gender' },
        // Add other fields as needed
      ],
      pageSettings: {
        pageSize: 10, // Records per page
        // pageCount: Math.ceil(data.length / recordsPerPage), // Calculate total number of pages
        pageSizes: [10, 20, 50, 100], // Custom page size options
        showPageCount: true, // Display page count
        showPager: true, // Display pager
      },
      toolbar: ['ExcelExport'], // Add the ExcelExport button to the toolbar
      allowExcelExport: true, // Enable Excel export feature
      excelExportComplete: function (args) {
        // Exclude the 'Subject Code' column from the exported Excel file
        args.xlsxExportOptions.sheets[0].columns =
          args.xlsxExportOptions.sheets[0].columns.filter(function (column) {
            return column.field !== 'Subject';
          });
      },
    });

    // Render the Syncfusion Grid in the specified element
    grid.appendTo('#grid');
  }

  fetchStudents();
</script>
{% endblock script %}
